{% extends "admin.html" %}

{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <head>
  {% if UserRole == 'Admin'%}
 
	{% include 'base.html' %}
{% elif UserRole == 'Logistic staff/user'%}
	{% include 'LogisticUser.html' %}
{% elif UserRole == 'Production'%}
	{% include 'Production.html' %}
	{% endif %}
 <title>::: BIMS :::</title>
 {% load staticfiles %}
 <link type "text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/Stickyfooter.css' %}">
 <link type="text/css" rel="stylesheet" href="{% static 'css/dropdowns-enhancement.css' %}">
 <script src="{% static 'js/jquery.min.js' %}"></script>
 <script type "text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
 <script type "text/javascript"  src="{% static 'js/dropdowns-enhancement.js' %}"></script>
<script type="text/javascript">
function myFunction(){
         if( document.BillForm.PID.value == "" )
         {
            alert( "Please select product ID!" );
            document.BillForm.PID.focus() ;
            return false;
         }
		 if( document.BillForm.PStatus.value == "" )
         {
            alert( "Please select PO status!" );
            document.BillForm.PStatus.focus() ;
            return false;
         }
		// if( document.BillForm.Materialcode.value == "" )
         //{
           // alert( "Please select material code!" );
            //document.BillForm.Materialcode.focus() ;
            //return false;
         //}
		 //if( document.BillForm.Qty.value == "" )
         //{
           /// alert( "Please provide quantity!" );
            ///document.BillForm.Qty.focus() ;
            //return false;
         //}
		 return( true );
		 }
		 $(document).ready(function(){
	$('#ProductID').on('change', function() {
		$('#lblBOM').text('');
		var ProductID = $(this).val();
		if (ProductID == ''){
		document.getElementById('PName').value = "";
		document.getElementById('PModel').value = "";
		} else{
		$.get('/test/'+'?ProductID='+ProductID, function(Data){
		var splitArray = Data.split(",");
		$('#PName').val(splitArray[0]) ;
		$('#PModel').val(splitArray[1]) ;
		if (splitArray[2] == 'Data already exists Please select another Product'){
		$('#lblBOM').text(splitArray[2]);
		$('#ProductID').val('') ;
		$('#PName').val('') ;
		$('#PModel').val('') ;
		}
		else{
		$('#lblBOM').text('');
		}
		});
		}
	});
	$('#Mcode').on('change', function() {
		var Mcode = $(this).val();
		if (Mcode == ''){
		document.getElementById('Mname').value = "";
		} else{
		$.get('/materialtest/'+'?Mcode='+Mcode, function(ProductName){
		$('#Mname').val(ProductName) ;
		});
		}
	});
});
</script>
<script type="text/javascript">
 $(document).ready(function(){
 $('#lblSAM').text("");
 $("#myList").click(function(){
 var ProductID=$('#ProductID').val();
 var Mcode=$('#Mcode').val();
 var Mname=$('#Mname').val();
 var Qty=$('#Qty').val();
 $.get('/MaterialInsert/'+'?Mcode='+Mcode+'&Mname='+Mname+'&Qty='+Qty+'&ProductID='+ProductID, function(Data){
 var splitArray = Data.split(".");
 console.log(splitArray);
 //alert(splitArray[1]);
 var GetData=splitArray[1];
 if (splitArray[0] == ''){
	$('#lblSAM').text("");
 }
 else{
	$('#lblSAM').text(splitArray[0]);
 }
 if (GetData == ''){
	var trHTML ='';
	$('#myTable').append(trHTML);
 }
 else{
 var trHTML = '<tr><th class="center">Material code</th><th class="center">Material name</th><th class="center">Quantity</th><th class="center">Edit</th></tr>';
$.each(JSON.parse(GetData), function(key, value) {
$('#myTable').empty();
 trHTML += '<tr><td>' + value[0] + '</td><td>' + value[1] + '</td><td>' + value[2] + '</td><td class="center"><a href="/accounts/EditBOMaterial/' + value[3] + '" data-toggle="modal" data-target="#basicModal"><i></i>Edit Material</a></td></tr>';
});
$('#myTable').append(trHTML);
$('#Mcode').val('');
 $('#Mname').val('');
 $('#Qty').val('');
}
 });
 });
 });
 </script>
 <script type="text/javascript">
 $(document).ready(function(){
 //$('#lblSAM').text("");
 $("#UpdateMaterial").click(function(){
 var ProductID=$('#ProductID').val();
 var Mcode=$('#modalMcode').val();
 var Mname=$('#Matname').val();
 var Qty=$('#ModalQty').val();
 var uid="{{ uid }}";
 $.get('/MaterialUpdate/'+'?Mcode='+Mcode+'&Mname='+Mname+'&Qty='+Qty+'&ProductID='+ProductID+'&uid='+uid, function(Data){
 //alert(Data);
 var splitArray = Data.split(".");
 console.log(splitArray);
 //alert(splitArray[1]);
 var GetData=splitArray[1];
 if (splitArray[0] == ''){
	$('#lblSAM').text("");
 }
 else{
	$('#lblSAM').text(splitArray[0]);
 }
 if (GetData == ''){
	var trHTML ='';
	$('#myTable').append(trHTML);
 }
 else{
 var trHTML = '<tr><th class="center">Material Code</th><th class="center">Material Name</th><th class="center">Quantity</th><th class="center">Edit</th></tr>';
$.each(JSON.parse(GetData), function(key, value) {
$('#myTable').empty();
 trHTML += '<tr><td>' + value[0] + '</td><td>' + value[1] + '</td><td>' + value[2] + '</td><td class="center"><a href="/accounts/EditBOMaterial/' + value[3] + '" data-toggle="modal" data-target="#basicModal"><i></i>Edit Material</a></td></tr>';
});
$('#myTable').append(trHTML);
$('#Mcode').val('');
 $('#Mname').val('');
 $('#Qty').val('');
 window.setTimeout(function () {
                  $('#basicModal').modal('hide');
                }, 1000);
				$(document).on('hidden.bs.modal', function (e) {
				var target = $(e.target);
				target.removeData('bs.modal')
				.find(".modal-content").empty();
				});
}
 });
 });
 });
 </script>
 <script>
 $(document).ready(function(){
 $("#Mcode").val("{{ Materialcode }}");
 $("#modalMcode").val("{{ Materialcode }}");
 
 });
 </script>
 <script>
 $(document).ready(function(){
 $("#Qty").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
        $("#errmsg").html("Digits Only").show().fadeOut("slow");
               return false;
   }
   });
   });
 </script>
 <script>
 $(document).ready(function(){
 $("#ModalQty").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
        $("#Modalerrmsg").html("Digits Only").show().fadeOut("slow");
               return false;
   }
   });
   });
 </script>
 <script type="text/javascript">
$(document).ready(function(){
$(document).on("keydown", function (e) {
    if (e.which === 8 && !$(e.target).is("input, textarea")) {
        e.preventDefault();
    }
});
});
</script>

<script type="text/javascript">
$(document).ready(function() 
{
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>
<script>
$(document).ready(function(){
$('#Qty').keyup(function(){
   if($(this).val() == "0"){
   $('#Qty').val('');
   }else if($(this).val() > 0){
   console.log($(this).val());
   $(this).val(Number($(this).val()))
   }
});
});
</script>
</head>
<body> 
<form class="form-horizontal" name="BillForm" method="POST" action="/accounts/ADDBOM/" role="form" data-toggle="validator">{% csrf_token %}
   <div class="container"> <div class="row">
  <div class="col-md-12">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Bill of material<h4>
  </div>
  <div class="panel-body" id="form-color">
   
 <div class="error"><span style="color: red;">{{ Error }}</span>
                  </div>
            <div class="success">{{ Success }}
                  </div>
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product ID</label>
    <div class="col-sm-5">
       <select class="form-control" id="ProductID" name="PID" >
		  <option value="">Select type</option>
		  {% for entry in PType %}
		<option value="{{ entry.ProductID }}">{{entry.ProductID }}</label>
		{% endfor %}
						</select>
    </div>
	<label id="lblBOM" name="lblBOM"></label>
  </div>
  
			<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="PName" readonly placeholder="Product name"   name="PName" maxlength="30" >
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product model</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="PModel" readonly placeholder="Product model"   name="PModel" maxlength="30" >
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-5">
       <select class="form-control" id="PStatus" name="PStatus" >
							<option value="Active">Active</option>
							<option value="InActive">InActive</option>							
						</select>
    </div>
  </div>
  
  </br>
  </br>
   <div class="form-group">  
  <label for="inputPassword3" class="col-sm-2 control-label">Material code</label>
  <div class="col-sm-5">
   <select class="form-control" id="Mcode" name="Materialcode" >
    <option value="">Select material </option>
    {% for obj in Mtype %}
   <option value="{{ obj.ProductID }}">{{ obj.ProductID }}</option>
	  {% endfor %}
    </select>
	
</div>
<div class="col-sm-4">
	<a class="btn btn-primary"  class="submit" id="myList" >
	                      Add material</a>
	</div>
  </div>
    <div class="form-group">
  <label for="inputPassword3" class="col-sm-2 control-label">Material name</label>
  <div class="col-sm-5">
    <input type="text" class="form-control" id="Mname" readonly placeholder="Material name"   name="Materialname" maxlength="30" >
</div>
<label id="lblSAM" name="lblSAM"></label>
  </div>
  <div class="form-group">
  <label for="inputPassword3" class="col-sm-2 control-label">Material qty</label>
  <div class="col-sm-5">
    <input type="text" class="form-control" id="Qty"  placeholder="Material qty"   name="Qty" maxlength="30" >&nbsp;<span id="errmsg"
</div>
  </div>
  </br>
  
  
  
     
    <!-- <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
	<a class="btn btn-primary"  class="submit" title="Add Material" data-title="Add Material" data-toggle="modal" data-target="#basicModal"                href="/accounts/BOMaterial/">
	                      <i></i>Add Material</a>
	  <input type="submit" class="submit" name="_delete" value="Delete" class="btn btn-primary"></input>
    </div>
  </div> -->
     
  </div>
  </div>
  </div>
  </div>
  </div>
  
  <div class="container-fluid"> 
   <div class="row">
   <div class="col-md-12">
   <div class="panel">
   <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
   <h4 class="panel-title" id="user title">View Bill of material<h4>
   </div>
   <div class="panel-body">
   <table id="myTable" class="table table-striped" style="text-align:center; font-size: 1.1em;font-family: 'Source Sans Pro', sans-serif;color:#333;">
    <thead>
                                    <tr>
										<th class="center">Material code</th>
                                        <th class="center">Material name</th>
                                        <th class="center">Quantity</th>										
										 <th class="center">Edit</th>
										<!--<th class="center">Check</th> -->
                                        </tr>
                                </thead>
								
								<tbody>     
					{% for u in obj %}                              
                                    <tr>
                                       <td class="center">{{ u.MaterialCode }}</td>
									   <td class="center">{{ u.MaterialName }}</td>
									   <td class="center">{{ u.MaterialQty }}</td>
										 <td class="center"><a href="/accounts/EditBOM/{{u.id}}">Edit</a></td>
										<!--<td class="center"><a href="/accounts/ADDPurchaseOrder/{{u.id}}"><input type="checkbox" name="PurchaseCheck" value="{{ u.id }}" />&nbsp;</a></td> -->
                                    </tr>
									{% endfor %}
									</tbody>

									</table>
   </div>
   </div>
   </div>
   </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="submit" class="btn btn-primary" onclick="return myFunction()">Submit</button> 
	 <a href="/accounts/ViewBOM/"><button class="btn btn-default" type="button">Cancel</button></a> 
    </div>
	</div>
  
	 <div class="modal fade" id="basicModal" tabindex="-1" role="dialog"aria-labelledby="basicModal" aria-hidden"true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">  
            <h4 class="modal-title" id="myModalLabel">Bill of material</h4>
            </div>
            <div class="modal-body">
			<form class="form-horizontal"  role="form"> 
			<div class="form-group">
			<form>
  <label for="inputPassword3" class="col-sm-2 control-label">Material Code</label>
  <input type="hidden"  value={{ uid }} name="uid" />
  <div class="col-sm-5">
   <select class="form-control" id="modalMcode" name="Materialcode" >
    <option value="">Select Material </option>
    {% for obj in Mtype %}
   <option value="{{ obj.ProductID }}">{{ obj.ProductID }}</option>
	  {% endfor %}
    </select>
	</div>
  </div>
      <div class="form-group">
  <label for="inputPassword3" class="col-sm-2 control-label">Material name</label>
  <div class="col-sm-5">
    <input type="text" class="form-control" id="Matname" readonly placeholder="Material name"   name="Materialname" maxlength="30" >
</div>
  </div>
  <div class="form-group">
  <label for="inputPassword3" class="col-sm-2 control-label">Quantity</label>
  <div class="col-sm-5">
    <input type="text" class="form-control" id="ModalQty"  placeholder="Material quantity"   name="Qty" maxlength="30" >&nbsp;<span id="Modalerrmsg"
</div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <!-- <button type="submit" class="submit" class="btn btn-primary" onclick="return myFunction()">Submit</button>  -->
	  <a class="btn btn-primary"  class="submit" id="UpdateMaterial" >
	                      Update</a>
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
	</div>
	</form>
	</div>
	</div>
 </div>
 </div> 
</form>
 </body>
</html>
{% endblock %}






