{% extends "admin.html" %}

{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <head>
  {% if UserRole == 'Admin'%}
 
	{% include 'base.html' %}
{% elif UserRole == 'Logistic staff/user'%}
	{% include 'LogisticUser.html' %}
{% elif UserRole == 'Production'%}
	{% include 'Production.html' %}
{% elif UserRole == 'Local Manufacture'%}
	{% include 'LocalManufacture.html' %}
	{% endif %}
 <title>Create Ticket</title>
 {% load staticfiles %}
 <link type "text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/Stickyfooter.css' %}">
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
 <link type="text/css" rel="stylesheet" href="{% static 'css/dropdowns-enhancement.css' %}">
 <script src="{% static 'js/jquery.min.js' %}"></script>
 <script type "text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
 <script type "text/javascript"  src="{% static 'js/dropdowns-enhancement.js' %}"></script>
  <script src="{% static 'js/jQuery UI.js' %}"></script>
  <!-- <script type="text/javascript">
 $(document).ready(function(){
	var randomval='H'+ Math.floor(Math.random() * 9999)
	$('#HOverID').val(randomval) ;	
 });
 </script> -->
<script type="text/javascript">
function myFunction(){
         if( document.BillForm.PID.value == "" )
         {
            alert( "Please Select Product ID!" );
            document.BillForm.PID.focus() ;
            return false;
         }
		 if( document.BillForm.PStatus.value == "" )
         {
            alert( "Please Select PO Status!" );
            document.BillForm.PStatus.focus() ;
            return false;
         }
		// if( document.BillForm.Materialcode.value == "" )
         //{
           // alert( "Please Select Materialcode!" );
            //document.BillForm.Materialcode.focus() ;
            //return false;
         //}
		 //if( document.BillForm.Qty.value == "" )
         //{
           /// alert( "Please provide Quantity!" );
            ///document.BillForm.Qty.focus() ;
            //return false;
         //}
		 return( true );
		 }
		 $(document).ready(function(){
	$('#ProductID').on('change', function() {
		var ProductID = $(this).val();
		if (ProductID == ''){
		document.getElementById('PName').value = "";
		document.getElementById('PModel').value = "";
		} else{
		$.get('/test/'+'?ProductID='+ProductID, function(Data){
		var splitArray = Data.split(",");
		$('#PName').val(splitArray[0]) ;
		$('#PModel').val(splitArray[1]) ;
		});
		}
	});
	
});
</script>
<script type="text/javascript">
$(document).ready(function(){
$('#ProductID').on('change', function() {
var ProductID = $(this).val();
$.get('/GetMaterialList/'+'?ProductID='+ProductID, function(Data){
 var splitArray = Data.split(".");
 console.log(splitArray);
 var GetData=splitArray[1];
 if (splitArray[0] == ''){
$('#lblSAM').text("");
 }
 else{
	$('#lblSAM').text(splitArray[0]);
 }

 if (GetData == ''){
	var trHTML ='';
	$('#myTable').append(trHTML);
 }
 else{
 var trHTML = '<tr><th class="center">Material Code</th><th class="center">Material Name</th><th class="center">Quantity</th></tr>';
$.each(JSON.parse(GetData), function(key, value) {
$('#myTable').empty();
 trHTML += '<tr><td>' + value[0] + '</td><td>' + value[1] + '</td><td>' + value[2] + '</td></tr>';
});
$('#myTable').append(trHTML);
$('#Mcode').val('');
 $('#Mname').val('');
 $('#Qty').val('');
}
 
 });
		});
		});
		
</script>
<script type="text/javascript">
 $(document).ready(function(){
 $('#lblSAM').text("");
 $("#myList").click(function(){
 var ProductID=$('#ProductID').val();
 var Mcode=$('#Mcode').val();
 var Mname=$('#Mname').val();
 var Qty=$('#Qty').val();
 $.get('/MaterialInsert/'+'?Mcode='+Mcode+'&Mname='+Mname+'&Qty='+Qty+'&ProductID='+ProductID, function(Data){
 var splitArray = Data.split(".");
 console.log(splitArray);
 var GetData=splitArray[1];
 if (splitArray[0] == ''){
	$('#lblSAM').text("");
 }
 else{
	$('#lblSAM').text(splitArray[0]);
 }

 if (GetData == ''){
	var trHTML ='';
	$('#myTable').append(trHTML);
 }
 else{
 var trHTML = '<tr><th class="center">Material Code</th><th class="center">Material Name</th><th class="center">Quantity</th></tr>';
$.each(JSON.parse(GetData), function(key, value) {
$('#myTable').empty();
 trHTML += '<tr><td>' + value[0] + '</td><td>' + value[1] + '</td><td>' + value[2] + '</td></tr>';
});
$('#myTable').append(trHTML);
}
 
 });
 });
 });
 </script>
 <script type="text/javascript">
				$(function() {
				$( "#StartPDate" ).datepicker({  minDate: 0,dateFormat: 'yy-mm-dd' });
				$("#StartPDate").keypress(function(event) {event.preventDefault();});
				});
				</script>

<script>
function SamFunction(val) {
var ProductID=$('#ProductID').val();
//alert(ProductID);
	$('#lblQuantity').text("");
	var SAMSN = document.getElementById('SAMSN').value;
	$.get('/SAMSNTest/'+'?val='+val+'&ProductID='+ProductID, function(Data){
	//alert("entered get");
	//alert(Data);
	var splitArray = Data.split(":");
			if (splitArray[0]==''){
			//alert("Data is Empty");
			if (splitArray[1] != ''){
			//alert(splitArray[1]);
			var str = "Download SAM PIN File";
			var result = str.link("../../../static/files/"+splitArray[1]);
			document.getElementById("lblSAMPIN").innerHTML = result;
			}
			if (splitArray[2] != ''){
			alert(splitArray[2]);
			$('#SAMUID').val(splitArray[2]);
			}
			}
			if(splitArray[0]=="SAM_SN is not available or already used by another Device / Product_SN, please check again"){
			document.getElementById("SAMSN").value= "";
			$('#lblQuantity').text("SAM_SN is not available or already used by another Device / Product_SN, please check again");
			}
			
		});
}

</script>
<script type="text/javascript">
function ProductFunction(val) {
//alert(val);
$('#ProductSN').text("");
//alert(val);
$.get('/ProductSNTest/'+'?val='+val, function(Data){
//alert(Data);
if (Data=="Product SN already exist (it is duplicate), please insert another Product Serial Number"){
$('#ProductSN').text(Data);
$('#ProSN').val('');
}
});
}
</script>

<script type="text/javascript">
function AndroididValidation(val) {
$('#AndroidValidation').text("");
//alert(val);
$.get('/Androididvalidation/'+'?val='+val, function(Data){
//alert(Data);
if (Data=="Android is already exist (it is duplicate), please insert another Android ID"){
$('#AndroidValidation').text(Data);
$('#AndriodID').val('');
}
});
}
</script>
<script type="text/javascript">
 $(document).ready(function(){
 $("#lblSAMPIN").click(function(){
 var SAMSN = document.getElementById('SAMSN').value;
 //alert(SAMSN);
$.get('/SAMHOMFileClick/'+'?SAMSN='+SAMSN, function(Data){
//alert("fdgfg");
//alert(Data);
});
});
});
</script>
<script type="text/javascript">
	$(document).ready(function () {
			$('#AndriodID').keyup(function(){
			var yourInput = $(this).val();
			re = /[@.,/_`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi;
			var isSplChar = re.test(yourInput);
			if(isSplChar)
			{
			var no_spl_char = yourInput.replace(/[@.,/_`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi, '');
			$(this).val(no_spl_char);
			}
		});
		$('#ProSN').keyup(function(){
			var yourInput = $(this).val();
			re = /[@.,/_`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi;
			var isSplChar = re.test(yourInput);
			if(isSplChar)
			{
			var no_spl_char = yourInput.replace(/[@.,/_`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi, '');
			$(this).val(no_spl_char);
			}
		});
		$('#SAMSN').keyup(function(){
			var yourInput = $(this).val();
			re = /[@.,/_`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi;
			var isSplChar = re.test(yourInput);
			if(isSplChar)
			{
			var no_spl_char = yourInput.replace(/[@.,/_`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi, '');
			$(this).val(no_spl_char);
			}
		});
	});
	</script>
	<script type="text/javascript">
$(document).ready(function(){
$(document).on("keydown", function (e) {
    if (e.which === 8 && !$(e.target).is("input, textarea")) {
        e.preventDefault();
    }
});
});
</script>

<script type="text/javascript">
$(document).ready(function() 
{
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>
<script type="text/javascript">
function removeWhitespaces() {
			var txtboxVal = $('#AndriodID').val().trim();
			$('#AndriodID').val(txtboxVal);
			var ProductSN = $('#ProSN').val();
			input = ProductSN.replace(/\s/g, '');
			$('#ProID').val(input) ;
			var txtboxVal1 = $('#SAMSN').val().trim();
			$('#SAMSN').val(txtboxVal1);
			}
</script>
<script type="text/javascript">
$(document).ready(function(){
$('#ProductID').on('change', function() {
	var ProductID = $(this).val();
	//alert(ProductID);
	$.get('/MaterialValidation/'+'?ProductID='+ProductID, function(Data){
	//alert(Data);
	if(Data!=''){
	$('#lblSAM').text(Data);
	$('#ProductID').val('');
	}
		});
		});
		});
		
</script>
	<base target="_self">
</head>
<body> 
<form class="form-horizontal" name="BillForm" method="POST" action="/accounts/ADDHOM/" role="form" data-toggle="validator">{% csrf_token %}
   <div class="container"> <div class="row">
  <div class="col-md-12">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Hand Over Material<h4>
  </div>
  <div class="panel-body" id="form-color">
   
 <div class="error"><span style="color: red;">{{ Error }}</span>
                  </div>
            <div class="success">{{ Success }}
                  </div>
				  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Hand Over ID:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="HOverID" readonly placeholder="Hand Over ID" value="{{ ProductionID }}"  name="HOverID" maxlength="30" >
    </div>
	<div class="form-group">
   <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ProductID : {{ ProductID }}</label>
   </div>
	
  </div>
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product ID</label>
    <div class="col-sm-5">
       <select class="form-control" id="ProductID" name="PID" required>
		  <option value="">Select Type</option>
		  {% for entry in PType %}
		<option value="{{ entry.ProductID }}">{{entry.ProductID }}</label>
		{% endfor %}
						</select>
    </div>
	<div class="col-sm-5">
   <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ProductType : {{ ProductType }}</label>
   </div>
	<label id="lblSAM" name="lblSAM"></label>
  </div>
  
			<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product Name:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="PName" readonly placeholder="Product Name"   name="PName" maxlength="30" >
    </div>
	<div class="col-sm-5">
   <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ProductName : {{ ProductName }}</label>
   </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product Model:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="PModel" readonly placeholder="Product Model"   name="PModel" maxlength="30" >
    </div>
	<div class="col-sm-5">
   <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ProductModel : {{ ProductModel }}</label>
   </div>
  </div>
 <!--  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Start Production Date</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="StartPDate" placeholder="Start Production Date"   name="StartPDate" maxlength="75" required>
    </div>
  </div> -->
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Production Status:</label>
    <div class="col-sm-5">
       <select class="form-control" id="PStatus" name="PStatus" >
							<option value="Stagging">Stagging</option>							
						</select>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  <div class="container-fluid"> 
   <div class="row">
   <div class="col-md-6">
   <div class="panel">
   <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
   <h4 class="panel-title" id="user title">View HandOverMaterial<h4>
   </div>
   <div class="panel-body">
   <table id="myTable" class="table table-striped" style="text-align:center; font-size: 1.1em;font-family: 'Source Sans Pro', sans-serif;color:#333;">
    <thead>
                                    <tr>
										<th class="center">Material Code</th>
                                        <th class="center">Material Name</th>
                                        <th class="center">Quantity</th>										
										<!-- <th class="center">Edit</th>
										<th class="center">Check</th> -->
                                        </tr>
                                </thead>
								
								<tbody>     
					{% for u in obj %}                              
                                    <tr>
                                       <td class="center">{{ u.MaterialCode }}</td>
									   <td class="center">{{ u.MaterialName }}</td>
									   <td class="center">{{ u.MaterialQty }}</td>
										<!-- <td class="center"><a href="/accounts/EditBOM/{{u.id}}">Edit</a></td>
										<td class="center"><a href="/accounts/ADDPurchaseOrder/{{u.id}}"><input type="checkbox" name="PurchaseCheck" value="{{ u.id }}" />&nbsp;</a></td> -->
                                    </tr>
									{% endfor %}
									</tbody>

									</table>
   </div>
   </div>
   </div>
   <div class="col-md-6">
   <div class="panel">
   <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
   <h4 class="panel-title" id="user title">Set as SAM for Device<h4>
   </div>
   <div class="panel-body">
   <div class="form-group">
   <label for="inputEmail3" class="col-sm-2 control-label">Andriod Device ID:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="AndriodID" required  placeholder="Andriod DeviceID" onchange="AndroididValidation(this.value)" required  name="AndriodID" maxlength="30" >
    </div>
	<label id="AndroidValidation" name="AndroidValidation"></label>
	</div>
   <div class="form-group">
   <label for="inputEmail3" class="col-sm-2 control-label">Product SN:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="ProSN" required placeholder="Product SN"  onchange="ProductFunction(this.value)" name="ProSN" maxlength="30" >
    </div>
	<label id="ProductSN" name="lblQuantity"></label>
	</div>
	<div class="form-group">
	<label for="inputEmail3" class="col-sm-2 control-label">SAM SN:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="SAMSN" required placeholder="SAM SN" onchange="SamFunction(this.value)"  name="SAMSN" maxlength="30" >
    </div>
	<label id="lblQuantity" name="lblQuantity"></label>
   </div>
   <div class="form-group">
	<label for="inputEmail3" class="col-sm-2 control-label">SAM UID:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="SAMUID"  placeholder="SAM UID" required readonly  name="SAMUID" maxlength="30" >
    </div>
	</div>
   <div class="form-group" id="DownloadFile" >
    <label for="inputEmail3" class="col-sm-2 control-label">SAM PIN File:</label>
    <div class="col-sm-4">
	<p id="lblSAMPIN"></p>
    </div>
	</div>
   </div>
   </div>
   </div>
   
  
  </div>
  </div>
  <div><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CreatedBy : {{ CreatedBy }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CreatedOn : {{ CreatedOn }}</b>  </div>
  </br>
   <div><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Updated By : {{ LastUpdateBy }}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   Last Updated On : {{ LastUpdateOn }} </b> </div>
   
   {% if Error == 'Please Set SAM Card Details' %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    </div>
	</div>
	{% else %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="submit" class="btn btn-primary" value="Remove Whitespaces" onclick="removeWhitespaces()" onclick="return myFunction()">Submit</button> 
	 <a href="/accounts/ViewHOM/"><button class="btn btn-default" type="button">Cancel</button></a> 
    </div>
	</div>
	{% endif %}
	
	<footer class="footer">
      <div class="container">
        <div style="text-align:center;" class="text-muted">&#0169;2008-2015 Biomorf Lone All rights reserved.</div>
				<ul class="footer-nav">
  <li>
                                    		<a href="https://www.facebook.com/biomorf" target="_blank"><img src="{% static "images/facebook.png" %}" alt="facebook" title="Facebook Page"></a>
                                    </li>
                                    <li>
									        <a href="http://www.linkedin.com/company/pt-biomorf-lone-indonesia" target="_blank"><img src="{% static "images/linkedin.png" %}" alt="LinkedIn" title="LinkedIn Page"></a>
                                    </li>
									<li>
									         <a href="https://twitter.com/biomorfindo" target="_blank"><img src="{% static "images/twitter_logo.jpg" %}" alt="Twitter" title="Twitter Page"></a>
                                    		  
                                    </li>
  <li><a href="">Home</a></li>
   <li><a href="">Legal Disclaimer</a></li>
  </ul> 
      </div>
    </footer>
  
</form>
 </body>
</html>
{% endblock %}






