{% extends "admin.html" %}

{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <head>
{% if UserRole == 'Admin'%}
	{% include 'base.html' %}
{% elif UserRole == 'Logistic staff/user'%}
	{% include 'LogisticUser.html' %}
{% elif UserRole == 'Production'%}
	{% include 'Production.html' %}
	{% endif %}
 <title>::: BIMS :::</title>
 {% load staticfiles %}
 <link type "text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/Stickyfooter.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/datatable.min.css' %}">
 <!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" /> -->
 <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
 <link type="text/css" rel="stylesheet" href="{% static 'css/dropdowns-enhancement.css' %}">
 <script  src="{% static 'js/jquery.min.js' %}"></script>
 <script type "text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
 <script type "text/javascript" src="{% static 'js/datatable.min.js' %}"></script>
 <script type "text/javascript"  src="{% static 'js/dropdowns-enhancement.js' %}"></script>
 <script src="{% static 'js/jQuery UI.js' %}"></script>
 <script>
$(document).ready(function(){
    $('#myTable').dataTable();
    $('#myDeviceListTable').dataTable();
});
</script>
<script>
$(document).ready(function(){
$( "#ShipDate" ).datepicker({  minDate: 0,dateFormat: 'dd-mm-yy' });
});
</script>
<script type="text/javascript">
 $(document).ready(function(){
	$('#DistributorID').on('change', function() {
		var DistributorID = $(this).val();
		if(DistributorID == '')
		{
		document.getElementById('DistributorName').value = "";
		document.getElementById('DistributorAddress').value = "";
		document.getElementById('DistributorCity').value = "";
		document.getElementById('DistributorCountry').value = "";
		}
		else{
		$.get('/GetDistributorDetails/'+'?DistributorID='+DistributorID, function(Data){
		var splitArray = Data.split(":");
		$('#DistributorName').val(splitArray[0]);
		$('textarea#DistributorAddress').val(splitArray[1]);
		$('#DistributorCity').val(splitArray[2]);
		$('#DistributorCountry').val(splitArray[3]);
		});
		}
		});
		});
		</script>
<script type="text/javascript">
 $(document).ready(function(){
	$('#CustomerID').on('change', function() {
		var CustomerID = $(this).val();
		if(CustomerID == '')
		{
		document.getElementById('CustomerName').value = "";
		document.getElementById('CustomerAddress').value = "";
		document.getElementById('CustomerCity').value = "";
		document.getElementById('CustomerCountry').value = "";
		}
		else{
		$.get('/GetCustomerDetails/'+'?CustomerID='+CustomerID, function(Data){
		var splitArray = Data.split(":");
		$('#CustomerName').val(splitArray[0]);
		$('textarea#CustomerAddress').val(splitArray[1]);
		$('#CustomerCity').val(splitArray[2]);
		$('#CustomerCountry').val(splitArray[3]);
		});
		}
		});
		});
		</script>		
<script type="text/javascript">
 $(document).ready(function(){
	$('#ProductID').on('change', function() {
		var ProductID = $(this).val();
		if (ProductID == ''){
		document.getElementById('PName').value = "";
		document.getElementById('PModel').value = "";
		} else{
		$.get('/test/'+'?ProductID='+ProductID, function(Data){
		var splitArray = Data.split(",");
		$('#PName').val(splitArray[0]) ;
		$('#PModel').val(splitArray[1]) ;
		});
		}
	});
	});
</script>
<script type="text/javascript">
 $(document).ready(function(){
 $("#myDeviceSN").click(function(){
 var ProductID=$('#ProductID').val();
 //alert(ProductID);
 $.get('/DeviceSNtest/'+'?ProductID='+ProductID, function(Data){
 if (Data == ''){
	var trHTML ='';
	$('#myDeviceTable').append(trHTML);
 }
 else{
 var trHTML = '<tr><th class="center">S.No</th><th class="center">Device SN</th><th class="center">Choose</th></tr>';
 i=1;
$.each(JSON.parse(Data), function(key, value) {
$('#myDeviceTable').empty();
 trHTML += '<tr><td>' + i + '</td><td>' + value[0] + '</td><td><input type="checkbox" class="classcbchecktest" id=' + value[0] +' name="PurchaseCheck" value=' + value[0] +' /></td></tr>';
  i=i+1;
});
$('#myDeviceTable').append(trHTML);
}

 });

 });
 });
 </script>
 <script type="text/javascript">
 $(document).ready(function(){
 $("#myList").click(function(){
 var RefNumber=$('#RefNumber').val();
 var ProductID=$('#ProductID').val();
 var ProductName=$('#PName').val();
 var favorite = [];
 $.each($("input[name='PurchaseCheck']:checked"), function(){            
                favorite.push($(this).val());
            });
            //alert(favorite.join(", "));
			ListData=favorite.join(",");
			//alert(ListData);
			var count = $("[type='checkbox']:checked").length;
			//alert(count);
			var SQuantity=$('#SQuantity').val();
			//alert(SQuantity);
if(count>SQuantity){
alert("Total number of Product SN being selected is more than value of Shipment qty, please check again!");
}
else{
			$.get('/DeviceSNListView/'+'?ListData='+ListData+'&ProductID='+ProductID+'&ProductName='+ProductName+'&RefNumber='+RefNumber, function(Data){
			//alert(Data);
			$('#lblSTC').text("");
			var splitArray = Data.split(".");
 if (splitArray[0] == ''){
	var trHTML ='';
	$('#myDeviceListTable').append(trHTML);
 }
 else{
// alert(splitArray[0]);
 var trHTML = '<tr><th class="center">S.No</th><th class="center">Product ID</th><th class="center">Product Name</th><th class="center">Device SN</th></tr>';
 i=1;
$.each(JSON.parse(splitArray[0]), function(key, value) {
$('#myDeviceListTable').empty();
 trHTML += '<tr><td>' + i + '</td><td>' + ProductID + '</td><td>' + ProductName + '</td><td>' + value[0] + '</td</tr>';
i=i+1;
});
$('#myDeviceListTable').append(trHTML);
}
if(splitArray[1] == 'Product SN is not yet ready to shipment to customer, please check once again'){
alert("Product SN is not yet ready to shipment to customer, please check once again");
}
 });
 }
 	window.setTimeout(function () {
                  $('#basicDeviceSNModal').modal('hide');
                }, 1000);
			
 });
 });
 </script>
 <script type="text/javascript">
 $(document).ready(function(){
 $("#SaveAndSend").click(function(){
 var SQuantity=$('#SQuantity').val();
 var RefNumber=$('#RefNumber').val();
 //alert(SQuantity);
  $.get('/DetailCount/'+'?RefNumber='+RefNumber, function(Data){
  var splitArray = Data.split(":");
  //alert(splitArray[0]);
 if(SQuantity==splitArray[0]){
 
 var ProductID=$('#ProductID').val();
 var ProductName=$('#PName').val();
 var DistributorID=$('#DistributorID').val();
 var DistributorName=$('#DistributorName').val();
 var CustomerID=$('#CustomerID').val();
 var CustomerName=$('#CustomerName').val();
 var ShipDate=$('#ShipDate').val();
 var CustomerID=$('#CustomerID').val();
 var ListData=splitArray[1];
 $.get('/SaveStockInsert/'+'?RefNumber='+RefNumber+'&ProductID='+ProductID+'&ProductName='+ProductName+'&SQuantity='+SQuantity+'&DistributorID='+DistributorID+'&DistributorName='+DistributorName+'&CustomerID='+CustomerID+'&CustomerName='+CustomerName+'&ShipDate='+ShipDate+'&ListData='+ListData, function(Data){
 
if(Data=='Please select Distributor ID'){
 alert(Data);
 }
 else if(Data=='Success'){
 window.location = "/accounts/ViewShipmentToCustomer/";
 }

//window.location = "/accounts/ViewShipmentToCustomer/";
 
 });
 }
 else if(splitArray[0]<SQuantity){
 alert("Total number of Product SN is less than value of Shipment qty, please check again");
 }
 });
 });
 });
 </script>
 <script type="text/javascript">
$(document).ready(function(){
$(document).on("keydown", function (e) {
    if (e.which === 8 && !$(e.target).is("input, textarea")) {
        e.preventDefault();
    }
});
});
</script>

<script type="text/javascript">
$(document).ready(function() 
{
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>
<script type="text/javascript">
    $(function () {
        $("#InputSerialCheck").click(function () {
		//alert("dfhghdf");
            if ($(this).is(":checked")) {
                $("#CustomerID").removeAttr("disabled");
                $("#CustomerID").focus();
				$('textarea#Remarks').prop('disabled',false);
            } else {
					$('#CustomerID').prop('disabled',true);
					$('textarea#Remarks').prop('disabled',true);
            }
        });
		 $("#NotInclude").click(function () {
		//alert("dfhghdf");
            if ($(this).is(":checked")) {
                $('#CustomerID').prop('disabled',true);
					$('textarea#Remarks').prop('disabled',true);
					$('#CustomerID').val('');
					$('#CustomerName').val('');
					$('textarea#CustomerAddress').val('');
					$('#CustomerCity').val('');
					$('#CustomerCountry').val('');
					$('textarea#Remarks').val('');
            } else {
					 $("#CustomerID").removeAttr("disabled");
                $("#CustomerID").focus();
				$('textarea#Remarks').prop('disabled',false);
            }
        });
    });
</script>
 </head>
<body>
	<form class="form-horizontal" name="RForm" method="POST" action="/accounts/ShipmentTOCustomer/" role="form" data-toggle="validator">{% csrf_token %}
	<div class="container"> 
	 <div class="row">
  <div class="col-md-6">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Distributor<h4>
  </div>
   <div class="panel-body" id="form-color">
</br>
  <div class="form-group">
	<label for="inputEmail3" class="col-sm-4 control-label">Distributor ID</label>
    <div class="col-sm-6">
      <select class="form-control" id="DistributorID" name="DistributorID" required>
		  <option value="">Select Distributor ID</option>
		  {% for entry in DistributorID %}
		<option value="{{ entry.ThirdPartyID }}">{{entry.ThirdPartyID }}</label>
		{% endfor %}
						</select>
						<input type="hidden"  value="{{ RefNumber }}" name="RefNumber" id="RefNumber" />
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Distributor name</label>
    <div class="col-sm-6">
	<input type="text" class="form-control" id="DistributorName" readonly placeholder="Distributor name"  name="DistributorName" maxlength="30" required>
    </div>
	</div>
	 <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Distributor address</label>
    <div class="col-sm-6">
	<textarea class="form-control" wrap=physical id="DistributorAddress" rows="3" placeholder="Distributor address" readonly name="DistributorAddress" maxlength="280"></textarea> 
	<!-- <input type="text" class="form-control" id="DistributorAddress" readonly placeholder="DistributorAddress"  name="DistributorAddress" maxlength="30" required> -->
    </div>
	</div>
	 <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Distributor City</label>
    <div class="col-sm-6">
	<input type="text" class="form-control" id="DistributorCity" readonly placeholder="Distributor City"  name="DistributorCity" maxlength="30" required>
    </div>
	</div>
	 <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Distributor country</label>
    <div class="col-sm-6">
	<input type="text" class="form-control" id="DistributorCountry" readonly placeholder="Distributor country"  name="DistributorCountry" maxlength="30" required>
    </div>
	</div>
  </div>
  </div>
  </div>

  <div class="col-md-6">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Customer<h4>
  </div>
   <div class="panel-body" id="form-color">
</br>
<div class="form-group">
<!-- label for="inputEmail3" class="col-sm-4 control-label">Include Customer:</label>
<div class="col-sm-2"> -->
<h4>
<input type="radio" class="col-sm-4 control-label" name="InputSerialCheck" id="InputSerialCheck" value="Include Customer"> Include Customer</br></h4>
<h4>
<input type="radio" class="col-sm-4 control-label" name="InputSerialCheck" id="NotInclude" value="Not Include Customer" checked>Exclude Customer</br></h4>
<!-- <input type="checkbox" class="form-control" id="InputSerialCheck" name="InputSerialCheck" ></input>  </div> -->
</div>
  <div class="form-group">
	<label for="inputEmail3" class="col-sm-4 control-label">Customer ID</label>
    <div class="col-sm-6">
      <select class="form-control" id="CustomerID" disabled name="CustomerID" required>
		  <option value="">Select Customer ID</option>
		  {% for entry in CustomerID %}
		<option value="{{ entry.ThirdPartyID }}">{{entry.ThirdPartyID }}</label>
		{% endfor %}
						</select>
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Customer name</label>
    <div class="col-sm-6">
	<input type="text" class="form-control" id="CustomerName" readonly placeholder="Customer name"  name="CustomerName" maxlength="30" required>
    </div>
	</div>
	 <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Customer address</label>
    <div class="col-sm-6">
	<textarea class="form-control" wrap=physical id="CustomerAddress" rows="3" placeholder="Customer address" readonly name="CustomerAddress" maxlength="280"></textarea> 
	<!-- <input type="text" class="form-control" id="CustomerAddress" readonly placeholder="CustomerAddress"  name="CustomerAddress" maxlength="30" required> -->
    </div>
	</div>
	 <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Customer city</label>
    <div class="col-sm-6">
	<input type="text" class="form-control" id="CustomerCity" readonly placeholder="Customer city"  name="CustomerCity" maxlength="30" required>
    </div>
	</div>
	 <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Customer country</label>
    <div class="col-sm-6">
	<input type="text" class="form-control" id="CustomerCountry" readonly placeholder="Customer country"  name="CustomerCountry" maxlength="30" required>
    </div>
	</div>
	<div class="form-group" id="comments">
    <label for="Comments" class="col-sm-4 control-label">Remarks</label>
	<div class="col-sm-6">
    <textarea class="form-control" wrap=physical id="Remarks" rows="3" disabled name="Remarks" maxlength="2000" required></textarea> 
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="container"> 
	 <div class="row">
  <div class="col-md-12">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Product/Device Shipment<h4>
  </div>
   <div class="panel-body" id="form-color">
</br>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product ID</label>
    <div class="col-sm-4">
       <select class="form-control" id="ProductID" name="ProductID" >
		  <option value="">Select type</option>
		  {% for entry in PType %}
		<option value="{{ entry.ProductID }}">{{entry.ProductID }}</label>
		{% endfor %}
						</select>
    </div>
	<label for="inputEmail3" class="col-sm-2 control-label">Shipment date</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="ShipDate" placeholder="Shipment date"   name="ShipDate" maxlength="75" required>
    </div>
  </div>
  
			<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="PName" readonly placeholder="Product name"   name="PName" maxlength="30" >
    </div>
	 <label for="inputEmail3" class="col-sm-2 control-label">Shipment qty</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="SQuantity"  placeholder="Shipment qty"   name="SQuantity" maxlength="30" required >
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product model</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="PModel" readonly placeholder="Product model"   name="PModel" maxlength="30" >
    </div>
	 <label for="inputEmail3" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-4">
       <select class="form-control" id="ShipmentStatus" name="ShipmentStatus" >
							<!-- <option value="">Select Status</option> -->
							<option value="Open">Open</option>
							<option value="Shipped">Shipped</option>							
						</select>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
 <div class="col-sm-4">
	<a class="btn btn-primary"  class="submit" id="myDeviceSN" title="ShipDetails" data-title="Ship & Product Details" data-toggle="modal" data-target="#basicDeviceSNModal">
	                      Select Product/Device SN</a>
	</div>
	<table id="myDeviceListTable" class="table table-striped" style="text-align:center; font-size: 1.1em;font-family: 'Source Sans Pro', sans-serif;color:#333;">
			  <thead>
                                    <tr>
									<th class="center">S.No</th>
									<th class="center">Product ID</th>
										<th class="center">Product name</th>
										<th class="center">Device SN</th>
			                                    </tr>
                                </thead>

									</table>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="submit" class="btn btn-primary" onclick="return myFunction()">Save</button> 
	  <a href="/accounts/ViewShipmentToCustomer/">
<button class="btn btn-default" type="button">Close</button>	
</a>  
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	<a class="btn btn-primary"  class="submit" id="SaveAndSend" >
                       Save & Send</a>
    </div>
	</div>
	<div class="modal fade" id="basicDeviceSNModal" tabindex="-1" role="dialog"aria-labelledby="basicModal" aria-hidden"true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Product/Device SN</h4>
            </div>
            <div class="modal-body" >
			  <label id="lblSTC" name="lblSTC"></label>
			  
			  <table id="myDeviceTable" class="table table-striped" style="text-align:center; font-size: 1.1em;font-family: 'Source Sans Pro', sans-serif;color:#333;">
			  <thead>
                                    <tr>
									<th class="center">Device SN</th>
										<th class="center">Choose</th>
                                    </tr>
                                </thead>

									</table>
								<div class="col-sm-offset-2 col-sm-10">
      <a class="btn btn-primary"  class="submit" id="myList" >
	                      Add to list</a>
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	
</a>  
    </div>	
  </div>
  </div>
 </div>
	</div>  
  </form>
  </body>
</html>
{% endblock %}