{% extends "admin.html" %}

{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <head>
{% if UserRole == 'Admin'%}
	{% include 'base.html' %}
{% elif UserRole == 'Logistic staff/user'%}
	{% include 'LogisticUser.html' %}
{% elif UserRole == 'Production'%}
	{% include 'Production.html' %}
	{% endif %}
 <title>::: BIMS :::</title>
 {% load staticfiles %}
 <link type "text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/Stickyfooter.css' %}">
 <!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" /> -->
 <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
 <link type="text/css" rel="stylesheet" href="{% static 'css/dropdowns-enhancement.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/datatable.min.css' %}">
 <script  src="{% static 'js/jquery.min.js' %}"></script>
 <script type "text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
 <script type "text/javascript"  src="{% static 'js/dropdowns-enhancement.js' %}"></script>
 <script type "text/javascript" src="{% static 'js/datatable.min.js' %}"></script>
 <script src="{% static 'js/jQuery UI.js' %}"></script>
 <script src="{% static 'js/Validation Plugin.js' %}"></script>
 <script type="text/javascript">
 $(document).ready(function(){
	var randomval='ADJ' + Math.floor(Math.random() * 9999)
	$('#RefNumber').val(randomval) ;
 });
 </script>
 <script>
$(document).ready(function(){
    $('#mySerialTable').dataTable();
});
</script>
<script>
$(document).ready(function(){
$('#ProductID').on('change', function() {
$('#SerialNumberdiv').hide();
var ProductID = $(this).val();
if (ProductID == ''){
document.getElementById('ProductName').value = "";
document.getElementById('StockBalance').value = "";
}else{
$.get('/Productnamesorting/'+'?ProductID='+ProductID, function(Data){
splitArray=Data.split(".");
ProductName=(splitArray[0]);
StockBalance=(splitArray[1])
$('#ProductName').val(ProductName) ;
$('#StockBalance').val(StockBalance) ;
});	
}
});	
	});			
</script>

<script type="text/javascript">
$(document).ready(function(){
$("#myList").click(function(){
$('#AdjustmentType').attr("disabled", true);
document.getElementById('AdjustmentType').readOnly = true;
var ProductID=$('#ProductID').val();
var ProductName=$('#ProductName').val();
var SNStatus=$('#AdjustmentType').val();
var SerialNumber=$('#SerialNumber').val();
var AdjustmentID=$('#RefNumber').val();
var AdjustmentType=$('#RefNumber').val();
$.get('/StockadjustmentserialInsert/'+'?ProductID='+ProductID+'&ProductName='+ProductName+'&SNStatus='+SNStatus+'&SerialNumber='+SerialNumber+'&AdjustmentID='+AdjustmentID, function(Data){
var splitArray = Data.split(".");
var GetData=splitArray[1];
console.log(GetData)
if (splitArray[0] == ''){
	$('#lblSAM').text("");
 }
 else{
	$('#lblSAM').text(splitArray[0]);
 }
 if (GetData == ''){
	var trHTML ='';
	$('#mySerialTable').append(trHTML);
 }
 else{
 var trHTML = '<tr><th class="center">S.No</th><th class="center">Serial number</th></tr>';
 i=1;
$.each(JSON.parse(GetData), function(key, value) {
$('#mySerialTable').empty();
 trHTML += '<tr><td class="center">' + i + '</td><td class="center">' + value[0] + '</td><td class="center"> <a href="/accounts/EditAdjustmentSerialNumber/' + value[0] + '" data-toggle="modal" data-target="#basicModal"><i></i>Edit</a></td><td class="center"> <a href="/accounts/DeleteAdjustmentSerialNumber/' + value[0] + '" data-toggle="modal" data-target="#basicDeleteSNModal"><i></i>Delete</a></td></tr>';
 $('#lblNumber').text("Total number of serial number has been added: "+ i);
 $('#lblNo').text(i);
 
 i=i+1;
});
$('#mySerialTable').append(trHTML);
$('#SerialNumber').val('');
}
});
});
});	
</script>
<script type="text/javascript">
$(document).ready(function () {
$("#SNSubmit").click(function(){
var SerialNumber=$('#ModalSerialNumber').val();
//alert(SerialNumber);
 var lblSN=$('#lblSN').val();
 //alert(lblSN);
 var ProductID=$('#ProductID').val();
 //alert(ProductID);
 var ModalAdjustmentID=$('#ModalAdjustmentID').val();
//alert(ModalAdjustmentID);
$.get('/AdjustmentSNUpdate/'+'?SerialNumber='+SerialNumber+'&lblSN='+lblSN+'&ProductID='+ProductID+'&ModalAdjustmentID='+ModalAdjustmentID, function(Data){
//alert(Data);
var splitArray = Data.split(".");
var GetData=splitArray[1];
if (splitArray[0] == ''){
 $('#lblSerialNO').text("");
 }
 else{
	$('#lblSerialNO').text(splitArray[0]);
 }
 if (GetData == '[]' || GetData.length == 0){
	var trHTML ='';
	$('#mySerialTable').empty();
	window.setTimeout(function () {
                  $('#basicModal').modal('hide');
                }, 1000);
 }
 else{
 var trHTML = '<tr><th class="center">S.No</th><th class="center">Serial number</th><th class="center">Edit</th><th class="center">Delete</th></tr>';
 i=1;
$.each(JSON.parse(GetData), function(key, value) {
$('#mySerialTable').empty();
 trHTML += '<tr><td class="center">' + i + '</td><td class="center">' + value[0] + '</td><td class="center"> <a href="/accounts/EditAdjustmentSerialNumber/' + value[0] + '" data-toggle="modal" data-target="#basicModal"><i></i>Edit</a></td><td class="center"><a href="/accounts/DeleteAdjustmentSerialNumber/' + value[0] + '" data-toggle="modal" data-target="#basicDeleteSNModal"><i></i>Delete</a></td></tr>';
 $('#lblNumber').text("Total number of serial number has been added: "+ i);
 $('#lblNo').text(i);
 i=i+1;
});
$('#mySerialTable').append(trHTML);
$('#SNumber').val('');
window.setTimeout(function () {
                  $('#basicModal').modal('hide');
                }, 1000);
				$(document).on('hidden.bs.modal', function (e) {
				var target = $(e.target);
				target.removeData('bs.modal')
				.find(".modal-content").empty();
				});
}
});
});
});
</script>
<script type="text/javascript">
 $(document).ready(function(){
 $("#SNDelete").click(function(){
 var SNid=$('#DeleteSNid').val();
 //alert(SNid);
 var Productid=$('#dbProductID').val();
 //alert(Productid);
 var AdjustmentID=$('#AdjstmntID').val();
 //alert(AdjustmentID);
 var SerialNumber=$('#DeletesrlNO').val();
 //alert(SerialNumber);
 $.get('/AdjustmentSNDelete/'+'?SNid='+SNid+'&Productid='+Productid+'&AdjustmentID='+AdjustmentID+'&SerialNumber='+SerialNumber, function(Data){
 //alert(Data);
 var splitArray = Data.split(".");
 console.log(splitArray)
 var GetData=splitArray[1];
 console.log(GetData);
if (GetData == '[]' || GetData.length == 0){
 
 //alert("dgfrgrtnodata");
	var trHTML ='';
	$('#mySerialTable').empty();
	console.log("Hi Empty Table");
	window.setTimeout(function () {
                  $('#basicDeleteSNModal').modal('hide');
                }, 1000);
 }
 else{
//alert("textentereddata2");
 var trHTML = '<tr><th class="center">S.No</th><th class="center">Serial number</th><th class="center">Edit</th><th class="center">Delete</th></tr>';
 i=1;
$.each(JSON.parse(GetData), function(key, value) {
$('#mySerialTable').empty();
 trHTML += '<tr><td class="center">' + i + '</td><td class="center">' + value[0] + '</td><td class="center"> <a href="/accounts/EditAdjustmentSerialNumber/' + value[0] + '"  data-toggle="modal" data-target="#basicModal"><i></i>Edit</a></td><td class="center"> <a href="/accounts/DeleteAdjustmentSerialNumber/' + value[0] + '" data-toggle="modal" data-target="#basicDeleteSNModal"><i></i>Delete</a></td></tr>';
 $('#lblNumber').text("Total number of serial number has been added: "+ i);
 $('#lblNo').text(i);
 
 i=i+1;
});
$('#mySerialTable').append(trHTML);
$('#SNumber').val('');
window.setTimeout(function () {
                  $('#basicDeleteSNModal').modal('hide');
                }, 1000);
				$(document).on('hidden.bs.modal', function (e) {
				var target = $(e.target);
				target.removeData('bs.modal')
				.find(".modal-content").empty();
				});
}
 });
 });
 });
 </script>
<script type="text/javascript">
function myFunction(val) {
$.get('/SNStatusValidation/'+'?val='+val, function(Data){
//alert(Data);
if (Data=='Yes'){
//alert("Serial Numbers")
$('#SerialNumberdiv').show();
$('#stocknodiv').hide();
}
else{
if (Data=='No'){
//alert("No Serial Numbers");
$('#stocknodiv').show();
}
if (Data=='Yes'){
}
}
});
}
</script>
<script type="text/javascript">
$(document).ready(function(){
$("#StockNumber").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
        $("#qtyerrmsg").html("Digits Only").show().fadeOut("slow");
               return false;
   }
   });
 });
</script>
<script>
$(document).ready(function(){
$('#StockNumber').keyup(function(){
   if($(this).val() == "0"){
   $('#StockNumber').val('');
   }else if($(this).val() > 0){
   console.log($(this).val());
   $(this).val(Number($(this).val()))
   }
});
});
</script>
<script type="text/javascript">
$(document).ready(function(){
$(document).on("keydown", function (e) {
    if (e.which === 8 && !$(e.target).is("input, textarea")) {
        e.preventDefault();
    }
});
});
</script>

<script type="text/javascript">
$(document).ready(function() 
{
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>
<script type="text/javascript">
$(document).ready(function() {
$('textarea#Remark').keyup(function(){
			var yourInput = $(this).val();
			re = /[`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi;
			var isSplChar = re.test(yourInput);
			if(isSplChar)
			{
			var no_spl_char = yourInput.replace(/[`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi, '');
			$(this).val(no_spl_char);
			}
		});
		});
</script>
<script>
$(document).ready(function() {
    $("#RForm").validate({
        rules: {
            name: "required",
			StockNumber: {
                required: "#StockNumber:visible"
            },
        }
    });
});
</script>
 </head>
 <body>
	<form class="form-horizontal" name="ADJForm" id="RForm" method="POST" onsubmit="document.getElementById('AdjustmentType').disabled = false;" action="/accounts/AdjustmentStock/" role="form" data-toggle="validator">{% csrf_token %}
	<center> <h4>Adjustment Stock<h4></center>
	<div class="error">{{ Error }}
     </div>
    <div class="success">{{ Success }}
     </div>
	<div class="container"> 
	 <div class="row">
  <div class="col-md-12">
  <div class="panel ">
   <div class="panel-body" id="form-color">
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product ID</label>
    <div class="col-sm-4">
	 <select class="form-control" id="ProductID" required name="ProductID" onchange="myFunction(this.value)">
		  <option value="">Select Product ID</option>
		  {% for entry in ProductID %}
		<option value="{{ entry.ProductID }}">{{entry.ProductID }}</label>
		{% endfor %}
		</select>
    </div>
	<label id="lblStockbalance" name="lblSAM"></label>
	<label for="inputEmail3" class="col-sm-2 control-label">Ref number</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="RefNumber"  placeholder="Ref number"  readonly name="RefNumber" maxlength="30" required>
    </div>
   </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product name</label>
    <div class="col-sm-4">
	 <input type="text" class="form-control" id="ProductName" readonly placeholder="Product name"  readonly name="ProductName" maxlength="30" required>
    </div>
	<label for="inputEmail3" class="col-sm-2 control-label">Ref transaction</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" readonly value="Adjustment Stock" id="RefTransaction"  placeholder="Adjustment stock" name="RefTransaction" maxlength="30" required>
    </div>
	</div>
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Adjustment type</label>
    <div class="col-sm-4">
	 <select class="form-control" id="AdjustmentType" required name="AdjustmentType" >
	 <option value="">Select adjustment type</option>
		  <option value="IN">IN</option>
		  <option value="OUT">OUT</option>
	</select>
    </div>
	<label for="inputEmail3" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-4">
      <select class="form-control" id="Status" name="Status" >
	  <option value="Progress">Progress</option>
	  </select>
    </div>
	</div>
	<div class="form-group" id=stocknodiv>
    <label for="inputEmail3" class="col-sm-2 control-label">Stock number</label>
    <div class="col-sm-4">
	 <input type="text" class="form-control" id="StockNumber" placeholder="Stock Number" name="StockNumber" maxlength="30">&nbsp;<span id="qtyerrmsg"></span>
    </div>
	</div>
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Warehouse name</label>
    <div class="col-sm-4">
	 <select class="form-control" id="WareHouseName" name="WareHouseName" required>
		  <option value="">Select warehouse name</option>
		  {% for entry in WarehouseName %}
		<option value="{{ entry.WarehouseName }}">{{entry.WarehouseName }}</label>
		{% endfor %}
		</select>
    </div>
	</div>
	<div class="form-group" id="comments">
    <label for="Comments" class="col-sm-2 control-label">Remark</label>
	<div class="col-sm-5">
    <textarea class="form-control" wrap=physical id="Remark" rows="3" name="Remark" maxlength="280" required></textarea> 
  </div>
  </div>
  <div id="SerialNumberdiv" style="display:none">
  <div class="col-sm-8">
     <label for="inputEmail3" class="col-sm-2 control-label">Serial number</label>
	  <div class="col-sm-4">
      <input type="text" class="form-control" id="SerialNumber" placeholder="Enter serial number"   name="SerialNumber" maxlength="75">
		<label id="lblSAM" name="lblSAM"></label>
	</div>
	<div class="col-sm-4">
	<a class="btn btn-primary"  class="submit" id="myList" >Add to serial number list</a>
	</div>
	</div>
	
	<div class="col-md-6">
	<script type="text/javascript">
	$('#InputSerialCheck').change(function(){
	$('#StockNumber').val('');
   $("#SerialNumber").prop("disabled", !$(this).is(':checked'));
	});
	</script>
   <table id="mySerialTable" class="table table-striped" style="text-align:center; font-size: 1.1em;font-family: 'Source Sans Pro', sans-serif;color:#333;">
    <thead>
                                    <tr>
										<th class="center">S.NO</th>
										<th class="center">Serial number</th>
										
                                        </tr>
                                </thead>
									</table>
									<label id="lblNumber"></label>
									</div>
  </div>
	<!--<div class="container-fluid"> 
   <div class="row">
   <div class="col-md-12">
   <div class="panel">
   <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
   <h4 class="panel-title" id="user title">Input Stock List<h4>
   </div>
   <div class="panel-body">
   <table id="myStockList" class="table table-striped" style="text-align:center; font-size: 1.1em;font-family: 'Source Sans Pro', sans-serif;color:#333;">
    <thead>
                                    <tr>
										<th class="center">Stock Type</th>
										<th class="center">Product ID</th>
										<th class="center">Stock Number</th>
										<th class="center">Warehouse</th>
										<th class="center">Edit</th>
										<th class="center">Delete</th>
                                        </tr>
                                </thead>
								
								<tbody>     
									</tbody>

									</table>
   </div>
   </div>
   </div>
   </div>
  </div>-->
  <div class="col-sm-12">
     <label for="inputEmail3" class="col-sm-2 control-label">Current stock balance</label>
	  <div class="col-sm-4">
      <input type="text" class="form-control" id="StockBalance" readonly placeholder="Stock balance"   name="StockBalance" maxlength="75">
	</div>
	</div>
	<div class="col-sm-offset-2 col-sm-12">
	  <button type="submit" class="submit" class="btn btn-primary" value="Save" name="_Save">Save</button>
	  <a href="/accounts/ViewAdjustmentStockList/"><button class="btn btn-default" type="button">Cancel</button></a>
	  <button type="submit" class="submit" class="btn btn-primary" value="Save&Send" name="_Save&Send">Save & Send</button>
    </div>
  </div>
   </div>
   </div>
   </div>
   </div>
   <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Edit Serial number</h4>
            </div>
            <div class="modal-body" >             
			  <div class="col-sm-8">
     <label for="inputEmail3" class="col-sm-4 control-label">Serial number</label>
	  <div class="col-sm-8">
      <input type="text" class="form-control" id="ModalSerialNumber"  placeholder="Enter Serial number" value="{{ SerialNumber }}"  name="SerialNumber" maxlength="75">
		<input type="hidden" id="lblSN"  value="{{ lblSN }}" name="lblSN" />
		<input type="hidden"  value="{{ SrlAdjustmentID }}" name="AdjustmentID" id="ModalAdjustmentID" />
		<input type="hidden"  value="{{ Productid }}" name="dbProductID" id="dbProductID"/>
	</div>
    </div>
	 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-12">
	<a class="btn btn-primary"  class="submit" id="SNSubmit" onclick="$('.modal-body > form').submit();">Submit</a>
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  <div class="modal fade" id="basicDeleteSNModal" tabindex="-1" role="dialog"aria-labelledby="basicDeleteSNModal-label"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="DeleteSerial">Delete Serial number</h4>
            </div>
            <div class="modal-body" >
			  <div class="col-sm-8">
     <label for="inputEmail3" class="col-sm-12 control-label">Are you sure? you want to delete Serial number</label>
	 <input type="hidden"  value="{{ SNid }}" id="DeleteSNid" name="DeleteSNid" />
	 <input type="hidden"  value="{{ Productid }}" name="dbProductID" id="srldbProductID"/>
	 <input type="hidden"  value="{{ AdjstmntID }}" name="AdjstmntID" id="AdjstmntID"/>
	 <input type="hidden"  value="{{ SerialNO }}" name="DeletesrlNO" id="DeletesrlNO"/>
    </div>
	 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-18">
      <a class="btn btn-primary"  class="submit" id="SNDelete">Delete</a>
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>
 </div>
	</div> 
	<div class="modal fade" id="DeleteStocklistModal" tabindex="-1" role="dialog"aria-labelledby="DeleteStocklistModal" aria-hidden"true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="DeleteStocklistModal">Delete Stock list</h4>
            </div>
            <div class="modal-body" >
			  
			  
			  <div class="col-sm-8">
     <label for="inputEmail3" class="col-sm-12 control-label">Are you sure? Do you really want to Delete StockList</label>
	 <input type="hidden"  value="{{ SNID }}" id="uid" name="uid" />
	 <input type="hidden"  value="{{ delstckProductid }}" name="stocklistProductID" id="stocklistProductID"/>
	 <input type="hidden"  value="{{ AdjustmentStockID }}" name="delstckliststckid" id="delstckliststckid"/>
    </div>
	 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-18">
      <a class="btn btn-primary"  class="submit" id="DeleteStockList" >
	                      Delete</a>
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>
 </div>
	</div>
  
  <div class="modal fade" id="StockList" tabindex="-1" role="dialog" aria-labelledby="StockList" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" id="heading-color">
            <h4 class="modal-title" id="myModalLabel">Edit Adjustment Stock list</h4>
            </div>
            <div class="modal-body" id="form-color">
	<div class="form-group">
     <label for="inputEmail3" class="col-sm-4 control-label">Product ID</label>
	  <div class="col-sm-8">
      <input type="text" class="form-control" id="dtlProductID"  placeholder="Product ID" value="{{ Productid }}"  name="dtlProductID" maxlength="75" readonly>
		<input type="hidden"  value="{{ uid }}" id="dtluid" name="uid" />
	</div>
    </div>
	<div class="form-group">
     <label for="inputEmail3" class="col-sm-4 control-label">Adjustment Stock ID</label>
	  <div class="col-sm-8">
      <input type="text" class="form-control" id="dtlStockID"  placeholder="Adjustment Stock ID" value="{{ dtlAdjustmentStockid }}"  name="dtlStockID" maxlength="75" readonly>
	</div>
    </div>
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-5 control-label">Warehouse name</label>
    <div class="col-sm-4">
	 <select class="form-control" id="dtlWareHouseName" name="dtlWareHouseName" >
		  <option value="">Select Warehouse name</option>
		  {% for entry in WarehouseName %}
		<option value="{{ entry.WarehouseName }}">{{entry.WarehouseName }}</label>
		{% endfor %}
		</select>
    </div>
	</div>
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Stock number</label>
    <div class="col-sm-4">
	 <input type="text" class="form-control" id="stlStockNumber" value="{{ dtlStockNO }}" placeholder="Stock Number" name="dtlStockNumber" maxlength="30" readonly>
    </div>
	</div>
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Adjustment type</label>
    <div class="col-sm-4">
	 <select class="form-control" id="dtlAdjustmentType" name="dtlAdjustmentType" >
	 <option value="">Select Adjustment type</option>
		  <option value="IN">IN</option>
		  <option value="OUT">OUT</option>
	</select>
    </div>
	</div>
	 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-12">
	 <a class="btn btn-primary"  class="submit" id="MyDtlList" >Submit</a>
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
   </form>
   </body>
   {% endblock %}