<nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
					<li class="dropdown"> 
						<a href="#" data-toggle="dropdown">Master <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">User Management</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/createuser/' tabindex="-1">Create User</a></li>
									<li><a href='/accounts/ViewUser/' tabindex="-1">View/Edit User</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Third Party</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/ThirdParty/' tabindex="-1">Create Third party</a></li>
									<li><a href='/accounts/ViewThirdParty/' tabindex="-1">View/Edit Third party</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Product Type</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/Product/' tabindex="-1">Create Product</a></li>
									<li><a href='/accounts/ViewProduct/' tabindex="-1">View/Edit Product</a></li>
									<!-- <li><a href='/accounts/Producttype/' tabindex="-1">Add Product Type</a></li> -->
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Warehouse</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/WareHouse/' tabindex="-1">Create Warehouse</a></li>
									<li><a href='/accounts/ViewwareHouse/' tabindex="-1">View/Edit Warehouse</a></li>
								</ul>
							</li>
						</ul>
						</li> 
						<li class="dropdown"> 
						<a href="#" data-toggle="dropdown">Logistics <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Purchase Order</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/ADDPurchaseOrder/' tabindex="-1">Add Purchase Order</a></li>
									<li><a href='/accounts/ViewPurchaseOrder/' tabindex="-1">View/Edit Purchase Order</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Shipment from Principal</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/ADDSFM/' tabindex="-1">Add Shipment from Principal</a></li>
									<li><a href='/accounts/ViewSFM/' tabindex="-1">View/Edit Shipment from Principal</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Custom Clearance</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/ADDCustomClearance/' tabindex="-1">Add Custom Clearance</a></li>
									<li><a href='/accounts/ViewCustomClearance/' tabindex="-1">View/Edit Custom Clearance</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Receiving finished Goods/Material</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/ADDReceiving/' tabindex="-1">Add Receiving finished Goods/Material</a></li>
									<li><a href='/accounts/ViewReceiving/' tabindex="-1">View/Edit Receiving finished Goods/Material</a></li> 
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Stock Card</a>
								<ul class="dropdown-menu">
								<li><a href='/accounts/CardInquiry/' tabindex="-1">Stock Card inquiry with Product ID</a></li>
								<!--<li><a href='/accounts/CardInquirywithwarehouse/' tabindex="-1">Stock Card Inquiry with Warehouse</a></li>-->
									<li><a href='/accounts/StockCardSummary/' tabindex="-1">Stock Card Summary</a></li> 
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Receiving SAM / SIM Card</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/ReceivingSamCard/' tabindex="-1">Receiving SAM Card</a></li>
									<li><a href='/accounts/ViewReceivingSamCard/' tabindex="-1">View Receiving SAM/SIM Card</a></li>
									<li><a href='/accounts/ReceivingSimCard/' tabindex="-1">Receiving SIM Card</a></li>

								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Input Stock</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/InputStock/' tabindex="-1">Add Input Stock</a></li>
									<li><a href='/accounts/ViewInputStock/' tabindex="-1">View Input Stock</a></li>	

								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Adjustment Stock</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/AdjustmentStock/' tabindex="-1">Add Adjustment Stock</a></li>
									<li><a href='/accounts/ViewAdjustmentStockList/' tabindex="-1">View Adjustment Stock list</a></li>									
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Transfer Location</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/TransferStockLocation/' tabindex="-1">Transfer Stock Location</a></li>
									<li><a href='/accounts/ViewTransferLocation/' tabindex="-1">View Transfer Stock Location</a></li>								
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Shipment to Customer</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/ShipmentTOCustomer/' tabindex="-1">Add Shipment to Customer</a></li>	
									<li><a href='/accounts/ViewShipmentToCustomer/' tabindex="-1">View Shipment to Customer</a></li>		
								</ul>
							</li>
						
						</ul>
						</li>
						<li class="dropdown"> 
						<a href="#" data-toggle="dropdown">B-CAT Production <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Bill of Material</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/ADDBOM/' tabindex="-1">Add Bill of Material</a></li>
									<li><a href='/accounts/ViewBOM/' tabindex="-1">View Bill of Material</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Handover Material</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/ADDHOM/' tabindex="-1">Add Handover Material</a></li>
									<li><a href='/accounts/ViewHOM/' tabindex="-1">View Handover Material</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Set Production</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/SetWareHouse/' tabindex="-1">Set Warehouse</a></li>
									<li><a href='/accounts/SetSamCard/' tabindex="-1">Set SAMCard</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Finished Goods Receiving</a>
								<ul class="dropdown-menu">
										<li><a href='/accounts/ViewFGReceiving/' tabindex="-1">View Finished Good Receiving</a></li>								
								</ul>
							</li>
						</ul>
						</li>
						
						<!--test-->
						<li class="dropdown"> 
						<a href="#" data-toggle="dropdown">Searches <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Devices</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/SAMDeviceID/' tabindex="-1">SAM Device ID</a></li>
									
								</ul>
							</li>
							<!--<li class="dropdown">
									<a href='/accounts/ProductionDataReport/' >Production data</a>
							</li>-->
						</ul>
						</li>
						<!--test end-->
						
						<li class="dropdown"> 
						<a href="#" data-toggle="dropdown">Reports <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Export XML data</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/DeviceDataReport/' tabindex="-1">Device data</a></li>
									<li><a href='/accounts/CustomerDataReport/' tabindex="-1">Customer data</a></li>
									<li><a href='/accounts/DistributorDataReport/' tabindex="-1">Distributor data</a></li>
								</ul>
							</li>
							<li class="dropdown">
									<a href='/accounts/ProductionDataReport/' >Production data</a>
							</li>
						</ul>
						</li>
					<!-- <li><a href='/accounts/Privileges/'>Privileges</a></li> -->
                    </ul>
                   <ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Profile<span class="caret"></span></a>
							<ul class="dropdown-menu"  role="menu" >
								<li><a href='/accounts/changepassword/'><span>Change Password</span></a></li>
								<li><a href="/accounts/logout/">Logout</a></li>
							</ul>
						</li>
					</ul>
                           
		</div>
          </div>
        </nav>
