  <script type="text/javascript">
 $(document).ready(function(){
 $("#SNSubmit").click(function(){
 var SNumber=$('#SNumber').val();
 alert(SNumber);
 var lblSN=$('#lblSN').val();
 alert(lblSN);
 var ProductID=$('#ProductID').val();
 alert(ProductID);
 var RefNumber=$('#RefNumber').val();
 alert(RefNumber);
 $.get('/InputSNUpdate/'+'?SNumber='+SNumber+'&lblSN='+lblSN+'&ProductID='+ProductID+'&RefNumber='+RefNumber, function(Data){
 alert(Data);
 var splitArray = Data.split(".");
 var GetData=splitArray[1];
 if (splitArray[0] == ''){
 $('#lblSAM').text("");
 }
 else{
	$('#lblSAM').text(splitArray[0]);
 }
 if (GetData == ''){
	var trHTML ='';
	$('#mySerialTable').append(trHTML);
	window.setTimeout(function () {
                  $('#basicSNModal').modal('hide');
                }, 1000);
 }
 else{
// alert("textentereddata2");
 var trHTML = '<tr><th class="center">SNo</th><th class="center">Serial Number</th><th class="center">Edit</th><th class="center">Delete</th></tr>';
 i=1;
$.each(JSON.parse(GetData), function(key, value) {
$('#mySerialTable').empty();
//alert(value[0]);
 trHTML += '<tr><td class="center">' + i + '</td><td class="center">' + value[0] + '</td><td class="center"> <a href="/accounts/EditInputSN/' + value[0] + '" data-toggle="modal" data-target="#basicSNModal"><i></i>Edit</a></td><td class="center"> <a href="/accounts/DeleteInputSN/' + value[0] + '" data-toggle="modal" data-target="#basicDeleteSNModal"><i></i>Delete</a></td></tr>';
 $('#lblNumber').text("Total Number of Serial Number has been added:"+ i);
 $('#lblNo').text(i);
 i=i+1;
});
$('#mySerialTable').append(trHTML);
$('#SNumber').val('');
window.setTimeout(function () {
                  $('#basicSNModal').modal('hide');
                }, 1000);
				
}
 });
 });
 });
 </script>
<script type="text/javascript">
$(document).ready(function(){
$(document).on("keydown", function (e) {
    if (e.which === 8 && !$(e.target).is("input, textarea")) {
        e.preventDefault();
    }
});
});
</script>

<script type="text/javascript">
$(document).ready(function() 
{
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>

   <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Edit SerialNumber</h4>
            </div>
            <div class="modal-body" >
			  
			  
			  <div class="col-sm-8">
     <label for="inputEmail3" class="col-sm-4 control-label">Serial Number</label>
	  <div class="col-sm-8">
      <input type="text" class="form-control" id="SNumber"  placeholder="Enter SerialNumber" value="{{ SerialNumber }}"  name="SerialNumber" maxlength="75">
		<input type="hidden"  value="{{ lblSN }}" id="lblSN" name="lblSN" />
	</div>
	
	
    </div>
	 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-12">
      <a class="btn btn-primary"  class="submit" id="SNSubmit" >
	                      Submit</a>
	 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>