{% extends "admin.html" %}

{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <head>
{% if UserRole == 'Admin'%}
	{% include 'base.html' %}
{% elif UserRole == 'Logistic staff/user'%}
	{% include 'LogisticUser.html' %}
{% elif UserRole == 'Production'%}
	{% include 'Production.html' %}
	{% endif %}
 <title>Create Ticket</title>
 {% load staticfiles %}
 <link type "text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/Stickyfooter.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/datatable.min.css' %}">
 <!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" /> -->
 <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
 <link type="text/css" rel="stylesheet" href="{% static 'css/dropdowns-enhancement.css' %}">
 <script  src="{% static 'js/jquery.min.js' %}"></script>
 <script type "text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
 <script type "text/javascript" src="{% static 'js/datatable.min.js' %}"></script>
 <script type "text/javascript"  src="{% static 'js/dropdowns-enhancement.js' %}"></script>
 <script src="{% static 'js/jQuery UI.js' %}"></script>
 <script type="text/javascript">
 function myFunction() {
 var x = document.getElementById("myDeviceListTable").rows.length;
 alert(x);
   if(x == 1){
   alert("No record of Product / Device added on the grid table, Please select and add at least 1 device");
   return false;
   }
   return( true );
 
 }
 </script>
  <script type="text/javascript">
 $(document).ready(function(){
 $("#SaveAndSend").click(function(){
 var x = document.getElementById("myDeviceListTable").rows.length;
   if(x == 1){
   alert("No record of Product / Device added on the grid table, Please select and add at least 1 device");
   }
   else{
   var MaintenanceID=$('#MaintenanceID').val();
 var RefTransaction=$('#RefTransaction').val();
 var Purpose=$('#Purpose').val();
 var FromWH=$('#FromWH').val();
 var OutDate=$('#OutDate').val();
 var ReturnDate=$('#ReturnDate').val();
 var CompanyType=$('#CompanyType').val();
 var CompanyID=$('#CompanyID').val();
 var CompanyName=$('#CompanyName').val();
 var PIC=$('#PIC').val();
 var Notes=$('#Notes').val();
 var ProductID=$('#ProductID').val();
 var ProductName=$('#PName').val();
 var count=x-1;
 //var favorite = [];
 //$.each($("input[name='PurchaseCheck']:checked"), function(){            
              //  favorite.push($(this).val());
           // });
			//ListData=favorite.join(",");
$.get('/SaveandSendStockInsert/'+'?MaintenanceID='+MaintenanceID+'&RefTransaction='+RefTransaction+'&Purpose='+Purpose+
'&FromWH='+FromWH+'&OutDate='+OutDate+'&ReturnDate='+ReturnDate+'&CompanyType='+CompanyType+
'&CompanyID='+CompanyID+'&CompanyName='+CompanyName+'&PIC='+PIC+'&Notes='+Notes+'&ProductID='+ProductID+
'&ProductName='+ProductName+'&count='+count, function(Data){
alert(Data);
if(Data=='Success'){
 //window.location = "http://192.168.7.69:8080/accounts/ViewMaintenance/";
 window.location = "/accounts/ViewMaintenance/";
 }
});
   }
 });
 });
 </script>
  <script>
 $(document).ready(function(){
 $("#SNAddbtn").click(function(){
 MaintenanceID=$('#MaintenanceID').val();
 ProductID=$('#ProductID').val();
 ProductName=$('#PName').val();
 DeviceSN=$('#DeviceSN').val();
 alert(MaintenanceID);
 alert(ProductID);
 alert(ProductName);
 alert(DeviceSN);
 $.get('/GetDeviceSNDetails/'+'?ProductID='+ProductID+'&ProductName='+ProductName+'&MaintenanceID='+MaintenanceID+
'&DeviceSN='+DeviceSN, function(Data){
alert(Data);
var splitArray = Data.split(".");
 if (splitArray[0] == ''){
	var trHTML ='';
	$('#myDeviceListTable').append(trHTML);
	$('#DeviceSN').val("");
 }
 if(splitArray[1] == 'Device Serial Number Which You Entered Is Not Correct'){
 //$('#ProductID').val("");
 //$('#PName').val("");
 $('#DeviceSN').val("");
 //$('#PModel').val("");
 }
 if(splitArray[1] == 'DeviceSN Already Exist'){
 //$('#ProductID').val("");
// $('#PName').val("");
 $('#DeviceSN').val("");
// $('#PModel').val("");
 }
 else{
 var trHTML = '<tr><th class="center">S.No</th><th class="center">Product ID</th><th class="center">Product Name</th><th class="center">Device SN</th><th class="center">Delete SN</th></tr>';
 i=1;
$.each(JSON.parse(splitArray[0]), function(key, value) {
$('#myDeviceListTable').empty();
 trHTML += '<tr><td class="center">' + i + '</td><td class="center">' + ProductID + '</td><td class="center">' + ProductName + '</td><td class="center">' + value[0] + '</td><td class="center"><a href="/accounts/DeleteMaintenanceSerialNumber/' + value[0] + '" data-toggle="modal" data-target="#basicDeleteSNModal"><i></i>Delete</a></td></tr>';
  i=i+1;
});
$('#myDeviceListTable').append(trHTML);
$('#DeviceSN').val("");
}
window.setTimeout(function () {
                  $('#basicDeviceSNModal').modal('hide');
                }, 1000);
				
 });
 });
 });
 </script>
 <script type="text/javascript">
 $(document).ready(function(){
 $("#SNDelete").click(function(){
 var SNid=$('#DeleteSNid').val();
 var Productid=$('#DelProductID').val();
 var MaintenanceID=$('#DelMaintenanceID').val();
 var SerialNumber=$('#DevicesrlNO').val();
 $.get('/MaintenanceSNDelete/'+'?SNid='+SNid+'&Productid='+Productid+'&MaintenanceID='+MaintenanceID+'&SerialNumber='+SerialNumber, function(Data){
 alert(Data);
 if (Data == '[]' || Data.length == 0){
	var trHTML ='';
	$('#myDeviceListTable').empty();
	console.log("Hi Empty Table");
	window.setTimeout(function () {
                  $('#basicDeleteSNModal').modal('hide');
                }, 1000);
 }
 else{
 var trHTML = '<tr><th class="center">S.No</th><th class="center">Product ID</th><th class="center">Product Name</th><th class="center">Device SN</th><th class="center">Delete</th></tr>';
 i=1;
$.each(JSON.parse(Data), function(key, value) {
$('#myDeviceListTable').empty();
 trHTML += '<tr><td class="center">' + i + '</td><td class="center">' + ProductID + '</td><td class="center">' + ProductName + '</td><td class="center">' + value[0] + '</td><td class="center"><a href="/accounts/DeleteMaintenanceSerialNumber/' + value[0] + '" data-toggle="modal" data-target="#basicDeleteSNModal"><i></i>Delete</a></td></tr>';
 i=i+1;
});
$('#myDeviceListTable').append(trHTML);
$('#SNumber').val('');
window.setTimeout(function () {
                  $('#basicDeleteSNModal').modal('hide');
                }, 1000);
				$(document).on('hidden.bs.modal', function (e) {
				var target = $(e.target);
				target.removeData('bs.modal')
				.find(".modal-content").empty();
				});	 
}
 });
 });
 });
 </script>
 <script>
$(document).ready(function(){
$("input[name=RPurpose]").val(["{{ Purpose }}"]);
});
</script>
 </head>
<body>
	<form class="form-horizontal" name="RForm" method="POST" action="/accounts/EditMaintenance/" role="form" data-toggle="validator">{% csrf_token %}
	<div class="container"> 
	 <div class="row">
  <div class="col-md-6">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Maintenance (Borrow/Repair)<h4>
  </div>
   <div class="panel-body" id="form-color">
</br>
  <div class="form-group">
	<label for="inputEmail3" class="col-sm-4 control-label">Maintenance ID</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="MaintenanceID" value="{{ MaintenanceID }}" readonly placeholder="Maintenance ID"  name="MaintenanceID" maxlength="30" required>
    <input type="hidden"  value="{{ lblMainID }}" name="lblMainID" />
	</div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Ref Transaction</label>
    <div class="col-sm-6">
	<input type="text" class="form-control" id="RefTransaction" readonly placeholder="Ref Transaction"  name="RefTransaction" value="MaintenanceBorrowRepair" maxlength="30" required>
    </div>
	</div>
	</div>
	<div class="panel ">
	<div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Device taken out temporarily from stock<h4>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Purpose</label>
 <h4>
<input type="radio"  name="RPurpose" id="Purpose" value="Borrow" required> Borrow</input></h4>
<h4>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio"  name="RPurpose" id="Purpose" value="Repair" required> Repair </h4> 
</div>
	 <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">From Warehouse</label>
    <div class="col-sm-6">
	<input type="text" class="form-control" id="FromWH"  value="{{ FromWH }} " readonly name="FromWH" maxlength="75" required>
	<!-- <select class="form-control" id="FromWH"  name="FromWH" required>
		  <option value="">Select WareHouse</option>
		   {% for entry in WHType %}
		<option value="{{ entry.WarehouseName }}">{{entry.WarehouseName }}</label>
		{% endfor %}
						</select> -->
    </div>
	</div>
	 <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Out date</label>
    <div class="col-sm-6">
	<input type="text" class="form-control" id="OutDate" value="{{ OutDate |date:'d-m-Y'}}"  readonly name="OutDate" maxlength="75" required>
    </div>
	</div>
	 <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Estimated Return date</label>
    <div class="col-sm-6">
	<input type="text" class="form-control" id="ReturnDate" value="{{ ReturnDate |date:'d-m-Y' }}" readonly name="ReturnDate" maxlength="75" required>
    </div>
	</div>
  </div>
  </div>
  </div>
  <!-- <div class="panel ">
	<div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Internal Party<h4>
  </div>
  <div class="panel-body" id="form-color">
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Employee Name:</label>
    <div class="col-sm-6">
	<input type="text" class="form-control" id="EmployeeName"  placeholder="EmployeeName"  name="EmployeeName" maxlength="30" required>
    </div>
	</div>
	 	<div class="form-group" id="comments">
    <label for="Comments" class="col-sm-4 control-label">Remarks:</label>
	<div class="col-sm-6">
    <textarea class="form-control" wrap=physical id="Remarks" rows="3"  name="Remarks" maxlength="2000" required></textarea> 
  </div>
  </div>
  </div>
  </div> -->
  

  <div class="col-md-6">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Party who took the device<h4>
  </div>
   <div class="panel-body" id="form-color">
</br>
<div class="form-group">
<div class="form-group">
	<label for="inputEmail3" class="col-sm-4 control-label">Company type</label>
    <div class="col-sm-6">
	<input type="text" class="form-control" id="CompanyType" value="{{ CompanyType }}" readonly   name="CompanyType" maxlength="75" required>
      <!-- <select class="form-control" id="CompanyType"  name="CompanyType" required>
		  <option value="">Select  Type</option>
		<option value="Distributor">Distributor</label>
		<option value="Principal">Principal</label>
		<option value="Customer">Customer</label>
						</select> -->
    </div>
	<!-- <div class="col-sm-4">
						<a class="btn btn-primary"  class="submit" id="checkclass" title="ShipDetails" data-title="Ship & Product Details" data-toggle="modal" data-target="#basicModal">
	                      Choose Type</a>
						  </div> -->
</div>
  <div class="form-group">
	<label for="inputEmail3" class="col-sm-4 control-label">Company ID</label>
    <div class="col-sm-6">
       <input type="text" class="form-control" id="CompanyID"  value="{{ CompanyID }}" readonly name="CompanyID" maxlength="30" required>
	  <!--  <select class="form-control" id="CompanyID" name="CompanyID" required>
		  <option value="">Select Company ID</option>
						</select> -->
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Company name</label>
    <div class="col-sm-6">
	<input type="text" class="form-control" id="CompanyName" readonly value="{{ CompanyName }}" readonly  name="CompanyName" maxlength="30" required>
    </div>
	</div>
	
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">PIC who responsible</label>
    <div class="col-sm-6">
	<input type="text" class="form-control" id="PIC"  value="{{ PIC }}" readonly name="PIC" maxlength="30" required>
    </div>
	</div>
	<!-- <div class="form-group" id="comments">
    <label for="Comments" class="col-sm-4 control-label">Notes:</label>
	<div class="col-sm-6">
    <textarea class="form-control" wrap=physical id="Notes" rows="3"  name="Notes" maxlength="2000" required></textarea> 
  </div>
  </div> -->
  </div>
  </div>
  </div>
  </div>
  <div class="container"> 
	 <div class="row">
  <div class="col-md-12">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Product/Device <h4>
  </div>
   <div class="panel-body" id="form-color">
</br>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product ID</label>
    <div class="col-sm-4">
	  <input type="text" class="form-control" id="ProductID" readonly value="{{ ProductID }} "   name="ProductID" maxlength="30" >
       <!-- <select class="form-control" id="ProductID" name="ProductID" required>
		  <option value="">Select Type</option>
		  {% for entry in PType %}
		<option value="{{ entry.ProductID }}">{{entry.ProductID }}</label>
		{% endfor %}
						</select> -->
    </div>
  </div>
  
			<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="PName" readonly value="{{ ProductName }}"   name="PName" maxlength="30" >
    </div>
  </div>
  
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product/Device SN</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="DeviceSN" placeholder="Product/Device SN"   name="DeviceSN" maxlength="30" >
    </div>
	<a class="btn btn-primary"  class="submit" id="SNAddbtn" >
	                      Add button</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
<!--  <div class="col-sm-4">
	<a class="btn btn-primary"  class="submit" id="myDeviceSN" title="ShipDetails" data-title="Ship & Product Details" data-toggle="modal" data-target="#basicDeviceSNModal">
	                      Select Product/Device SN</a>
	</div> -->
	<table id="myDeviceListTable" class="table table-striped" style="text-align:center; font-size: 1.1em;font-family: 'Source Sans Pro', sans-serif;color:#333;">
			  <thead>
                                    <tr>
									<th class="center">Product ID</th>
										<th class="center">Product name</th>
										<th class="center">Device SN</th>
								        <th class="center">Delete</th>
                                    </tr>
                                </thead>
								<tbody>     
					{% for u in DeviceData %} 
					<tr>
					 <td class="center">{{ u.ProductID }}</td>
					  <td class="center">{{ u.ProductName }}</td>
					   <td class="center">{{ u.Product_SN }}</td>
					    <td class="center"><a href="/accounts/DeleteMaintenanceSerialNumber/{{ u.Product_SN }}" data-toggle="modal" data-target="#basicDeleteSNModal"><i></i>Delete</a></td>
					</tr>
					{% endfor %}
									</tbody>

									</table>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="submit" class="btn btn-primary" onclick="return myFunction()">Save</button> 
	  <a href="/accounts/ViewMaintenance/">
<button class="btn btn-default" type="button">Close</button>	
</a>  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <a class="btn btn-primary"  class="submit" id="SaveAndSend" >
	                      Save & Send</a>
    </div>
	</div>
	<div class="modal fade" id="basicDeviceSNModal" tabindex="-1" role="dialog"aria-labelledby="basicModal" aria-hidden"true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Product/Device SN</h4>
            </div>
            <div class="modal-body" >
			  <label id="lblSTC" name="lblSTC"></label>
			  
			  <table id="myDeviceTable" class="table table-striped" style="text-align:center; font-size: 1.1em;font-family: 'Source Sans Pro', sans-serif;color:#333;">
			  <thead>
                                    <tr>
									<th class="center">Device SN</th>
										<th class="center">Choose</th>
                                    </tr>
                                </thead>

									</table>
								<div class="col-sm-offset-2 col-sm-10">
      <a class="btn btn-primary"  class="submit" id="myList" >
	                      Add to List</a>
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	
</a>  
    </div>	
  </div>
  </div>
 </div>
	</div>
	<div class="modal fade" id="basicDeleteSNModal" tabindex="-1" role="dialog"aria-labelledby="basicDeleteSNModal-label"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="DeleteSerial">Delete serial number</h4>
            </div>
            <div class="modal-body" >
			  <div class="col-sm-8">
     <label for="inputEmail3" class="col-sm-12 control-label">Are you sure? you want to delete serial number</label>
	 <input type="hidden"  value="{{ SNid }}" id="DeleteSNid" name="DeleteSNid" />
	 <input type="hidden"  value="{{ Productid }}" name="DelProductID" id="DelProductID"/>
	  <input type="hidden"  value="{{ MaintenanceID }}" name="DelMaintenanceID" id="DelMaintenanceID"/>
	 <input type="hidden"  value="{{ SerialNO }}" name="DevicesrlNO" id="DevicesrlNO"/>
    </div>
	 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-18">
      <a class="btn btn-primary"  class="submit" id="SNDelete">Delete</a>
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>
 </div>
	</div>

  	  
 

	
  </form>
  </body>
</html>
{% endblock %}