{% extends "admin.html" %}

{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <head>
{% if UserRole == 'Admin'%}
	{% include 'base.html' %}
{% elif UserRole == 'Logistic staff/user'%}
	{% include 'LogisticUser.html' %}
{% elif UserRole == 'Production'%}
	{% include 'Production.html' %}
	{% endif %}
 <title>Create Ticket</title>
 {% load staticfiles %}
 <link type "text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/Stickyfooter.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/datatable.min.css' %}">
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
 <link type="text/css" rel="stylesheet" href="{% static 'css/dropdowns-enhancement.css' %}">
 <script  src="{% static 'js/jquery.min.js' %}"></script>
 <script type "text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
 <script type "text/javascript" src="{% static 'js/datatable.min.js' %}"></script>
 <script type "text/javascript"  src="{% static 'js/dropdowns-enhancement.js' %}"></script>
 <script src="{% static 'js/jQuery UI.js' %}"></script>
 <script>
$(document).ready(function(){
    $('#myTable').dataTable();
	$("#WarehouseName").val("{{ WarehouseName }}");
	$("#RSamStatus").val("{{ RSamStatus }}");
});
</script>
<!-- <script type="text/javascript">
 $(document).ready(function(){
 $('button.ClassEdit').click(function(){
 
 var SamID=document.getElementById('txsamid').value;
 alert(SamID);
 $.get('/SAMDetails/'+'?SamID='+SamID, function(Data){
 var splitArray = Data.split(",");
 $('#SAMSN').val(splitArray[0]);
 $('#SAMUID').val(splitArray[1]);
 $('#SAMPCID').val(splitArray[2]);
 
 });
 });
 });
 </script> -->
 <script type="text/javascript">
 $(document).ready(function(){
 $('#lblSAM').text("");
 $("#myList").click(function(){
 $('#lblSAM').text("");
 var RSamID=$('#RSamID').val();
 //alert(RSamID);
 var SAMSN=$('#SAMSN').val();
 //alert(SAMSN);
 var SAMUID=$('#SAMUID').val();
 //alert(SAMUID);
 //var SAMPCID=$('#SAMPCID').val();
 //alert(SAMPCID);
 $.get('/SAMInsertUpdate/'+'?RSamID='+RSamID+'&SAMSN='+SAMSN+'&SAMUID='+SAMUID, function(Data){
 //alert(Data);
 
 var splitArray = Data.split(".");
 console.log(splitArray);
 //alert(splitArray[0]);
 //alert(splitArray[1]);
 var GetData=splitArray[1];
 if (splitArray[0] == ''){
	//alert("textenterednull");
	$('#lblSAM').text("");
 }
 else{
	//alert("textentereddata");
	$('#lblSAM').text(splitArray[0]);
 }

 if (GetData == ''){
	//alert("textenterednull2");
	var trHTML ='';
	$('#myTable').append(trHTML);
 }
 else{
 //alert("textentereddata2");
 var trHTML = '<tr><th class="center">SAM Serial Number</th><th class="center">SAM UID</th></tr>';
$.each(JSON.parse(GetData), function(key, value) {
$('#myTable').empty();
 trHTML += '<tr><td>' + value[0] + '</td><td>' + value[1] + '</td></tr>';
});
$('#myTable').append(trHTML);
$('#SAMSN').val('');
 $('#SAMUID').val('');
 //$('#SAMPCID').val('');
 location.reload(true);
}
});
 });
 });
// });
 </script>
 <script type="text/javascript">
 $(document).ready(function(){
 $('#RSamStatus').on('change', function() {
 var Status=$('#RSamStatus').val();
 var SamValue="{{ SAMValue}}";
 if (Status == 'Receive'){
	if(SamValue == 'Yes'){
	alert("Receiving Quantity is not same with the list, please check again and adjust it");
	}
 }
 });
 });
 </script>
 <script type="text/javascript">
			function myFunction()
      {
	  var SamValue="{{ SAMValue}}";
	  var Status=document.getElementById('RSamStatus').value;
	  if (Status == 'Receive'){
	if(SamValue == 'Yes'){
	alert("Receiving Quantity is not same with the list, please check again and adjust it");
	return false;
	}
 }
 return true;
	  }
	  </script>
	  
<script type="text/javascript">
$(document).ready(function(){
$(document).on("keydown", function (e) {
    if (e.which === 8 && !$(e.target).is("input, textarea")) {
        e.preventDefault();
    }
});
});
</script>

<script type="text/javascript">
$(document).ready(function() 
{
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>
 </head>
<body>
	<form class="form-horizontal" name="RForm" method="POST" action="/accounts/EditSAMCard/" role="form" data-toggle="validator">{% csrf_token %}
	<div class="container"> 
	 <div class="row">
  <div class="col-md-12">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Receiving SAM Card<h4>
  </div>
   <div class="panel-body" id="form-color">
   
 <div class="error"><span style="color: red;">{{ Error }}</span>
                  </div>
            <div class="success">{{ Success }}
                  </div>
<div><b>ProductID : {{ ProductID }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ProductType : {{ ProductType }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ProductName : {{ ProductName }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ProductModel:{{ ProductModel }}</b></div>			
</br>	  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Receiving SAM ID:</label>
    <div class="col-sm-4">
	<input type="text" class="form-control" id="RSamID" value="{{ RSamID }}"  placeholder="Receiving SAM ID"  readonly name="RSamID" maxlength="30" required>
	<input type="hidden"  value={{ uid }} name="uid" /> 
    </div>
	<label for="inputEmail3" class="col-sm-2 control-label">Warehouse:</label>
    <div class="col-sm-4">
      <select class="form-control" id="WarehouseName" name="WarehouseName" required>
		  <option value="">Select Warehouse Name</option>
		  {% for entry in WHName %}
		<option value="{{ entry.WarehouseName }}">{{entry.WarehouseName }}</label>
		{% endfor %}
						</select>
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Receiving Perso Quantity:</label>
    <div class="col-sm-4">
	<input type="text" class="form-control" id="RPersoQuantity" value="{{ RPersoQuantity }}" placeholder="Receiving Perso Quantity"  name="RPersoQuantity" maxlength="30" required>
    </div>
	</div>
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Receiving SAM Status:</label>
    <div class="col-sm-4">
	 <select class="form-control" id="RSamStatus" name="RSamStatus" >
		  <option value="Open">Open</option>
		  <option value="Receive">Receive</option>
	</select>
    </div>
	</div>
	 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit"  class="submit" class="btn btn-primary" onclick="return myFunction()">Save</button> 
	  <a href="/accounts/ViewReceivingSamCard/">
<button class="btn btn-default" type="button">Close</button>	
</a>  
    </div>
	</div>

	 {% if SAMValue == 'Yes'%}
	
	 <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">SAM SerialNumber:</label>
    <div class="col-sm-4">
	<input type="text" class="form-control" id="SAMSN"  placeholder="SAM SerialNumber"  name="SAMSN" maxlength="30">
    </div>
	
	<div class="col-sm-4">
	<a class="btn btn-primary"  class="submit" id="myList" >
	                      Add to List</a>
	</div>
	</div>
	 <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">SAM UID:</label>
    <div class="col-sm-4">
	<input type="text" class="form-control" id="SAMUID"  placeholder="SAM UID"  name="SAMUID" maxlength="30">
    </div>
	<label id="lblSAM" name="lblSAM"></label>
	</div>
	<!--  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">SAM PCID:</label>
    <div class="col-sm-4">
	<input type="text" class="form-control" id="SAMPCID"  placeholder="SAM PCID"  name="SAMPCID" maxlength="30">
    </div>
	</div>  -->
	{% else %}
	<label id="lblSAMValue" name="lblSAMValue">
	“You cannot add another new SAM record due to it has reached the Receiving Perso Quantity number, please set Receiving Status into Received”</label>
	{% endif %}
	
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="container-fluid"> 
   <div class="row">
   <div class="col-md-12">
   <div class="panel">
   <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
   <h4 class="panel-title" id="user title">View Serial Info Details<h4>
   </div>
   <div class="panel-body">
   <table id="myTable" class="table table-striped" style="text-align:center; font-size: 1.1em;font-family: 'Source Sans Pro', sans-serif;color:#333;">
    <thead>
                                    <tr>
										<th class="center">SAM Serial Number</th>
                                        <th class="center">SAM UID</th>
                                        
										<th class="center">Edit</th>
                                        </tr>
                                </thead>
								<tbody>     
					{% for u in samobj %}                              
                                    <tr>
                                       <td class="center">{{ u.SAM_SN }}</td>
									   <td class="center">{{ u.SAM_UID }}</td>
									  
									   <td class="center"> <a href="/accounts/EditSAMDetails/{{u.id}}" data-toggle="modal"data-target="#basicModal"><i></i>Edit</a></td></td>
									   <!-- <p class="ClassEdit" value="{{ u.id }}"  id="txsamid" >Edit</p> -->
	                       
									   <!-- <input type="hidden" id="txsamid"  value={{ u.id }} name="txsamid" /> -->
                                    </tr>
									{% endfor %}
									</tbody>
									</table>
   </div>
   </div>
   </div>
   </div>
  </div>
 
  </form>
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
			 <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
            <h4 class="modal-title" id="myModalLabel">Edit SAM Info Details</h4>
            </div>
            <div class="modal-body" >
              <!--  <h3>Modal Body</h3> -->
			 <form class="form-horizontal" name="Mname"  method="POST" action="/accounts/EditSAMDetails/" role="form">{% csrf_token %} 
			  
			 <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">SAM SerialNumber:</label>
    <div class="col-sm-4">
	<input type="text" class="form-control" id="SAMSN"  placeholder="SAM SerialNumber"  value="{{ SAMSN }}" name="SAMSN" maxlength="30">
	<input type="hidden"  value={{ uid }} name="uid" /> 
	<input type="hidden"  value={{ samid }} name="samid" /> 
    </div>
	</div>
	 <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">SAM UID:</label>
    <div class="col-sm-4">
	<input type="text" class="form-control" id="SAMUID"  placeholder="SAM UID" value="{{ SAMUID }}" name="SAMUID" maxlength="30">
    </div>
	<label id="lblSAM" name="lblSAM"></label>
	</div>
	
     
  

  
 
  </div>
  </div>
  </div>
  </div>
  </form>
  </body>
</html>
{% endblock %}