{% extends "admin.html" %}

{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <head>
{% if UserRole == 'Admin'%}
	{% include 'base.html' %}
{% elif UserRole == 'Logistic staff/user'%}
	{% include 'LogisticUser.html' %}
{% elif UserRole == 'Production'%}
	{% include 'Production.html' %}
	{% endif %}
 <title>Create Ticket</title>
 {% load staticfiles %}
 <link type "text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/Stickyfooter.css' %}">
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
 <link type="text/css" rel="stylesheet" href="{% static 'css/dropdowns-enhancement.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/datatable.min.css' %}">
 <script  src="{% static 'js/jquery.min.js' %}"></script>
 <script type "text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
 <script type "text/javascript"  src="{% static 'js/dropdowns-enhancement.js' %}"></script>
 <script type "text/javascript" src="{% static 'js/datatable.min.js' %}"></script>
 <script src="{% static 'js/jQuery UI.js' %}"></script>
<script type="text/javascript">
			$(document).ready(function(){
			$('#ShipNo').on('change', function() {
			var ShipNo = $(this).val();
			if (ShipNo == ''){
		document.getElementById('podate').value = "";
		document.getElementById('Productid').value = "";
		document.getElementById('ProductName').value = "";
		document.getElementById('POQuantity').value = "";
		document.getElementById('PONumber').value = "";
		document.getElementById('PrinicpalID').value = "";
		document.getElementById('HsCode').value = "";
		document.getElementById('ProductType').value = "";
		document.getElementById('PrincipalName').value = "";
		document.getElementById('CCStatus').value = "";
		document.getElementById('ShipDate').value = "";
		document.getElementById('ShipAWB').value = "";
		document.getElementById('SFreight').value = "";
		document.getElementById('SQuantity').value = "";
		}else{
		$.get('/ReceivingTest/'+'?ShipNo='+ShipNo, function(Data){
		var splitArray = Data.split(",");
		$('#ShipAWB').val(splitArray[0]) ;
		$('#SFreight').val(splitArray[1]) ;
		$('#SQuantity').val(splitArray[2]) ;
		$('#PONumber').val(splitArray[3]) ;
		$('#podate').val(splitArray[4]) ;
		$('#PrinicpalID').val(splitArray[5]) ;
		$('#PrincipalName').val(splitArray[6]) ;
		$('#POQuantity').val(splitArray[7]) ;
		$('#Productid').val(splitArray[8]) ;
		$('#ProductName').val(splitArray[9]) ;
		$('#HsCode').val(splitArray[10]) ;
		$('#ProductType').val(splitArray[11]) ;
		$('#CCStatus').val(splitArray[12]) ;
		$('#Receiving').val(splitArray[13]) ;
		});
		}
	});
	
});
</script>
<script type="text/javascript">
$(document).ready(function () {
	$("#ReceivingStatus").val("{{ ReceivingStatus }}");
	$("#WareHouseName").val("{{ WareHouseName }}");
});
</script>
<script type="text/javascript">
			function mysaveFunction()
			{
				var SerialStatus=("{{  ProductSN }}");
				if (SerialStatus=='No'){
				if( document.RForm.ReceivingQty.value == "" )
				{
					alert( "Please Enter Receiving Quantity!" );
					document.RForm.ReceivingQty.focus() ;
					return false;
				}
			}
		 if( document.RForm.ReceivingStatus.value == "" )
         {
            alert( "Please Select Receiving Status!" );
            document.RForm.ReceivingStatus.focus() ;
            return false;
         }
		  if( document.RForm.WareHouseName.value == "" )
         {
            alert( "Please Select WareHouse Name!" );
            document.RForm.WareHouseName.focus() ;
            return false;
         }
		 return( true );
			}

</script>
<script type="text/javascript">
			function myList()
      {
      
			 if( document.RForm.ShipNo.value == "" )
         {
            alert( "Please Select Ship No!" );
            document.RForm.ShipNo.focus() ;
            return false;
         }
		 
		  
		 if( document.RForm.ReceivingStatus.value == "" )
         {
            alert( "Please Select Receiving Status!" );
            document.RForm.ReceivingStatus.focus() ;
            return false;
         }
		  if( document.RForm.WareHouseName.value == "" )
         {
            alert( "Please Select WareHouse Name!" );
            document.RForm.WareHouseName.focus() ;
            return false;
         }
		 if( document.RForm.SerialNumber.value == "" )
         {
            alert( "Please Enter Serial Number!" );
            document.RForm.SerialNumber.focus() ;
            return false;
         }
		 return( true );
			}

</script>
<script type="text/javascript">
 $(document).ready(function(){
 $("#myList").click(function(){
 //alert("cgdfg");
 var Productid=$('#Productid').val();
 var ShipNo=$('#ShipNo').val();
 //alert(ShipNo);
 var ProductName=$('#ProductName').val();
 var ProductType=$('#ProductType').val();
 var SerialNumber=$('#SerialNumber').val();
  var SQuantity=$('#SQuantity').val();
  var RecevingID=$('#Receiving').val();
 $.get('/SNInsert/'+'?Productid='+Productid+'&ProductName='+ProductName+'&ProductType='+ProductType+'&SerialNumber='+SerialNumber+'&ShipNo='+ShipNo+'&SQuantity='+SQuantity+'&RecevingID='+RecevingID, function(Data){
 //alert(Data);
 var splitArray = Data.split(".");
 var GetData=splitArray[1];
 if (splitArray[0] == ''){
	//alert("textenterednull");
	$('#lblSAM').text("");
 }
 else{
	//alert("textentereddata");
	$('#lblSAM').text(splitArray[0]);
 }
 if (GetData == ''){
	//alert("textenterednull2");
	var trHTML ='';
	$('#mySerialTable').append(trHTML);
 }
 else{
 //alert("textentereddata2");
 var trHTML = '<tr><th class="center">SNo</th><th class="center">Serial Number</th><th class="center">Edit</th><th class="center">Delete</th></tr>';
 i=1;
$.each(JSON.parse(GetData), function(key, value) {
$('#mySerialTable').empty();
//alert(value[0]);
 trHTML += '<tr><td class="center">' + i + '</td><td class="center">' + value[0] + '</td><td class="center"> <a href="/accounts/EditSN/' + value[0] + '" data-toggle="modal" data-target="#basicSNModal"><i></i>Edit</a></td><td class="center"> <a href="/accounts/DeleteSN/' + value[0] + '" data-toggle="modal" data-target="#basicDeleteSNModal"><i></i>Delete</a></td></tr>';
 $('#lblNumber').text("Total Number of Serial Number has been added:"+ i);
 $('#lblNo').text(i);
 i=i+1;
});
$('#mySerialTable').append(trHTML);
$('#SerialNumber').val('');
}
 
 });
 });
 });
 </script>
 <script type="text/javascript">
 $(document).ready(function(){
 $("#SNDelete").click(function(){
 var SN=$('#SN').val();
 //alert(SN);
 var SNid=$('#SNid').val();
/// alert(SNid);
 var Productid=$('#Productid').val();
 //alert(Productid);
 var ShipNo=$('#ShipNo').val();
// alert(ShipNo);
 $.get('/SNDelete/'+'?SN='+SN+'&SNid='+SNid+'&Productid='+Productid+'&ShipNo='+ShipNo, function(Data){
// alert(Data);
 if (Data == '[]'){
 
 //alert("dgfrgrtnodata");
	var trHTML ='';
	$('#mySerialTable').append(trHTML);
	window.setTimeout(function () {
                  $('#basicDeleteSNModal').modal('hide');
                }, 1000);
 }
 else{
//alert("textentereddata2");
 var trHTML = '<tr><th class="center">SNo</th><th class="center">Serial Number</th><th class="center">Edit</th><th class="center">Delete</th></tr>';
 i=1;
$.each(JSON.parse(Data), function(key, value) {
$('#mySerialTable').empty();
//alert(value[0]);
 trHTML += '<tr><td class="center">' + i + '</td><td class="center">' + value[0] + '</td><td class="center"> <a href="/accounts/EditSN/' + value[0] + '" data-toggle="modal" data-target="#basicSNModal"><i></i>Edit</a></td><td class="center"> <a href="/accounts/DeleteSN/' + value[0] + '" data-toggle="modal" data-target="#basicDeleteSNModal"><i></i>Delete</a></td></tr>';
 $('#lblNumber').text("Total Number of Serial Number has been added:"+ i);
 $('#lblNo').text(i);
 i=i+1;
});
$('#mySerialTable').append(trHTML);
$('#SNumber').val('');
window.setTimeout(function () {
                  $('#basicDeleteSNModal').modal('hide');
                }, 1000);
				 location.reload(true);
}
 });
 });
 });
 </script>
 <script type="text/javascript">
 $(document).ready(function(){
 $('#lblNumber').text("Total Number of Serial Number has been added:"+ {{ count}});
 });
 </script>
<script type="text/javascript">
 $(document).ready(function(){
 $("#SNSubmit").click(function(){
 var SNumber=$('#SNumber').val();
 //alert(SNumber);
 var lblSN=$('#lblSN').val();
 //alert(lblSN);
 var Productid=$('#Productid').val();
// alert(Productid);
 var ShipNo=$('#ShipNo').val();
// alert(ShipNo);
 $.get('/SNUpdate/'+'?SNumber='+SNumber+'&lblSN='+lblSN+'&Productid='+Productid+'&ShipNo='+ShipNo, function(Data){
 //alert(Data);
 var splitArray = Data.split(".");
 var GetData=splitArray[1];
 if (splitArray[0] == ''){
 $('#lblSAM').text("");
 }
 else{
	$('#lblSAM').text(splitArray[0]);
 }
 if (GetData == ''){
	var trHTML ='';
	$('#mySerialTable').append(trHTML);
	window.setTimeout(function () {
                  $('#basicSNModal').modal('hide');
                }, 1000);
 }
 else{
// alert("textentereddata2");
 var trHTML = '<tr><th class="center">SNo</th><th class="center">Serial Number</th><th class="center">Edit</th><th class="center">Delete</th></tr>';
 i=1;
$.each(JSON.parse(GetData), function(key, value) {
$('#mySerialTable').empty();
//alert(value[0]);
 trHTML += '<tr><td class="center">' + i + '</td><td class="center">' + value[0] + '</td><td class="center"> <a href="/accounts/EditSN/' + value[0] + '" data-toggle="modal" data-target="#basicSNModal"><i></i>Edit</a></td><td class="center"> <a href="/accounts/DeleteSN/' + value[0] + '" data-toggle="modal" data-target="#basicDeleteSNModal"><i></i>Delete</a></td></tr>';
 $('#lblNumber').text("Total Number of Serial Number has been added:"+ i);
 $('#lblNo').text(i);
 i=i+1;
});
$('#mySerialTable').append(trHTML);
$('#SNumber').val('');
window.setTimeout(function () {
                  $('#basicSNModal').modal('hide');
                }, 1000);
				 location.reload(true);
}
 
 });
 });
 });
 </script>
 <script type="text/javascript">
$(document).ready(function(){
var rowCount = $('#mySerialTable tr').length;
console.log(rowCount);
if (rowCount == 1){
//document.getElementById('InputSerialCheck').checked=false;
//document.getElementById("ReceivingQty").setAttribute("enable", true);
//document.getElementById("SerialNumber").setAttribute("disabled", false);
}
else{
//alert("Dgffdg");
//document.getElementById('InputSerialCheck').checked=true;
//document.getElementById("ReceivingQty").setAttribute("disabled", false);
//document.getElementById("SerialNumber").setAttribute("enable", true);
}
});
</script>
  <script type="text/javascript">
$(document).ready(function(){
var Productid=$('#Productid').val();
var ShipNo=$('#ShipNo').val();
$.get('/SNValidation/'+'?Productid='+Productid+'&ShipNo='+ShipNo, function(Data){
		//alert(Data);
		if (Data== 'No'){
			$("#InputSerialCheck").click(function(){
		$('#lblSNValidate').text("This Product ID must not have any Serial Number, please check again!");
		//document.getElementById("SerialNumber").setAttribute("disabled", false);
		//document.getElementById("ReceivingQty").setAttribute("enable", true);
		//document.getElementById('InputSerialCheck').checked=false;
		//location.reload(true);
		});
		}
		else if(Data== 'Yes'){
		$("#InputSerialCheck").click(function(){
		$('#lblSNValidate').text("This Product ID must have Serial Number, please check again!");
		//document.getElementById("ReceivingQty").setAttribute("disabled", false);
		//document.getElementById("SerialNumber").setAttribute("enable", true);
		//document.getElementById('InputSerialCheck').checked=false;
		//location.reload(true);
		});
		}
		else if(Data== 'Nothing'){
$("#InputSerialCheck").click(function(){
//alert("gfgtfghgh");
var ReceivingQty=$('#ReceivingQty').val();
var rowCount = $('#mySerialTable tr').length;
//alert(rowCount);
if (ReceivingQty == ''){
}
else{
$('#ReceivingQty').val('');
}
if (rowCount > 1){
var checkvalue=document.getElementById('InputSerialCheck').checked
//alert(checkvalue);
var SerialNumbervalue=document.getElementById('SerialNumber').disabled
//alert(SerialNumbervalue);
if (checkvalue == false && SerialNumbervalue == false){
//alert("rowcountmorethanzero");
$("#basicDeleteCheckSNModal").modal();
var ProductID=$('#Productid').val();
var ShipNo=$('#ShipNo').val();
//alert(ShipNo);

$("#SNDeleteCheck").click(function(){
$.get('/GetALLSNTest/'+'?ShipNo='+ShipNo+'&ProductID='+ProductID, function(Data){
if (Data == '[]'){
	//alert("textenterednull2");
	$('#mySerialTable').empty();
	$('#lblNumber').text("Total Number of Serial Number has been added:"+ 0);
	//document.getElementById("SerialNumber").setAttribute("disabled", false);
	//document.getElementById("ReceivingQty").setAttribute("enable", true);
	//document.getElementById('InputSerialCheck').checked=false;
	var trHTML ='';
	$('#mySerialTable').append(trHTML);
 }
window.setTimeout(function () {
                  $('#basicDeleteCheckSNModal').modal('hide');
                }, 1000);
		
});	
});
}
else{
//alert("fgfdgno data");
}
}
else if (rowCount ==1){
//document.getElementById('InputSerialCheck').checked=false;
//document.getElementById("StockQty").setAttribute("disabled", false);
//document.getElementById("SerialNumber").setAttribute("enable", true);
}
});
}
});
});
</script>
 <script type="text/javascript">
function myFunction(val) {
$('#lblQuantity').text("");
var ProductID=$('#Productid').val();
 var ShipQuantity=$('#SQuantity').val();
 var ReceiveQuantity=$('#ReceivingQty').val();
 var POQuantity=$('#POQuantity').val();
var LabelAlert=$('#lblQTY').val();
 $.get('/QuantityCheck/'+'?ProductID='+ProductID+'&ShipQuantity='+ShipQuantity+'&ReceiveQuantity='+ReceiveQuantity+'&POQuantity='+POQuantity, function(Data){
 //alert(Data);
 if (Data==''){
 $('#lblQuantity').text(Data);
 }
 else if (Data=='Receiving Quantity value is more than Shipment Quantity value. Please check it again'){
   $('#lblQuantity').text(Data);
   $('#ReceivingQty').val('');
 }
 else if (Data=='Receiving Quantity value is more than PO Quantity value. Please check it again'){
   $('#lblQuantity').text(Data);
   $('#ReceivingQty').val('');
 }
 });
 }

</script>
<script type="text/javascript">
 $(document).ready(function(){
 $("#SaveAndSend").click(function(){
 var Receiving=$('#Receiving').val();
 var WareHouseName=$('#WareHouseName').val();
 var ProductID=$('#Productid').val();
 var ProductName=$('#ProductName').val();
 var PrincipalName=$('#PrincipalName').val();
 var SQuantity=$('#SQuantity').val();
 var ReceivingQty=$('#ReceivingQty').val();
 var PONumber=$('#PONumber').val();
 var ShipNo=$('#ShipNo').val();
 var HsCode=$('#HsCode').val();
 var POQuantity=$('#POQuantity').val();
 var ReceivingStatus=$('#ReceivingStatus').val();
 var formval="Edit"
 if (ReceivingQty==undefined){
 $.get('/SerialNumberCount/'+'?ShipNo='+ShipNo+'&ProductID='+ProductID, function(Data){
 //alert(Data);
 if (Data==SQuantity){
 $.get('/StockInsertSN/'+'?Receiving='+Receiving+'&WareHouseName='+WareHouseName+'&ProductID='+ProductID+'&ProductName='+ProductName+'&PrincipalName='+PrincipalName+'&PONumber='+PONumber+'&ShipNo='+ShipNo+'&HsCode='+HsCode+'&POQuantity='+POQuantity+'&ReceivingStatus='+ReceivingStatus+'&SQuantity='+SQuantity+'&formval='+formval, function(Data){
 //alert(Data);
  window.location = "http://192.168.1.121:8000/accounts/ViewReceiving/";
 });
 }
 else{
 alert("Shipment Quantity and the serial Number count are not equal,So please Add Serial  Numbers or click on Submit button");
 }
 });
 }
 else{
 if (SQuantity==ReceivingQty){
 $.get('/StockInsert/'+'?Receiving='+Receiving+'&WareHouseName='+WareHouseName+'&ProductID='+ProductID+'&ReceivingQty='+ReceivingQty+'&ProductName='+ProductName+'&PrincipalName='+PrincipalName+'&PONumber='+PONumber+'&ShipNo='+ShipNo+'&HsCode='+HsCode+'&POQuantity='+POQuantity+'&ReceivingStatus='+ReceivingStatus+'&SQuantity='+SQuantity+'&formval='+formval, function(Data){
 //alert(Data);
  window.location = "http://192.168.1.121:8000/accounts/ViewReceiving/";
 });
 }
 else{
 alert("Shipment Quantity and the Receiving Quantity  are not equal,So please Add Receiving Quantity or click on Submit button");
 }
 }

 });
 
 });
 </script>
 <script type="text/javascript">
$(document).ready(function(){
$("#ReceivingQty").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
        $("#qtyerrmsg").html("Digits Only").show().fadeOut("slow");
               return false;
   }
   });
 });
</script>
<script>
$(document).ready(function(){
$('#ReceivingQty').keyup(function(){
   if($(this).val() == "0"){
   $('#ReceivingQty').val('');
   }else if($(this).val() > 0){
   console.log($(this).val());
   $(this).val(Number($(this).val()))
   }
});
});
</script>
<script type="text/javascript">
$(document).ready(function(){
$(document).on("keydown", function (e) {
    if (e.which === 8 && !$(e.target).is("input, textarea")) {
        e.preventDefault();
    }
});
});
</script>

<script type="text/javascript">
$(document).ready(function() 
{
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>
</head>
<body>
	<form class="form-horizontal" name="RForm" method="POST" action="/accounts/EditReceiving/" role="form" data-toggle="validator">{% csrf_token %}
	 <h4>Receiving Finish Goods/Material<h4>
	 <div class="container"> 
	 <div class="row">
  <div class="col-md-12">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Shipment From Manufacture<h4>
  </div>
   <div class="panel-body" id="form-color">
   
 <div class="error"><span style="color: red;">{{ Error }}</span>
                  </div>
            <div class="success">{{ Success }}
                  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Ship No:</label>
    <div class="col-sm-4">
	 <input type="text" class="form-control" id="ShipNo"  value="{{ ShipNo }}"  readonly name="ShipNo" maxlength="30" required>
     <input type="hidden"  value={{ uid }} name="uid" />
	 <label id="lblQTY" id="lblQTY"name="lblQTY"></label>
    </div>
	<label for="inputEmail3" class="col-sm-2 control-label">Ship Freight:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="SFreight"  value="{{ SFreight }}" placeholder="Ship Freight"  readonly name="SFreight" maxlength="30" required>
    </div>
  </div>
   
   <div class="form-group">
   <label for="inputEmail3" class="col-sm-2 control-label">Shipment Quantity:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="SQuantity"  placeholder="Shipment Quantity"  value="{{ SQuantity }}" readonly  name="SQuantity" maxlength="30" required>
    </div>
    <label for="inputEmail3" class="col-sm-2 control-label">Ship AWB:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="ShipAWB"  placeholder="Ship AWB"  value="{{ ShipAWB }}" readonly  name="ShipAWB" maxlength="30" required>
    </div>
  </div>
  
   </div>
  </div>
 
 </div>
  
  </div>
   </div>
   <div class="container">
   <div class="row">
  <div class="col-md-12">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Purchase Order<h4>
  </div>
  <div class="panel-body" id="form-color">
   
 
				  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">PO Number:</label>
	<div class="col-sm-4">
	 <input type="text" class="form-control" id="PONumber" placeholder="PONumber" readonly value="{{ PONumber }}"  name="PONumber" maxlength="75" required>
						</div>
						 <label for="inputEmail3" class="col-sm-2 control-label">Product ID</label>
    <div class="col-sm-4">
	 <input type="text" class="form-control" id="Productid" placeholder="Product ID" readonly  name="ProductID" value="{{ ProductID }}" maxlength="75" required>
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">PO Date:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="podate" placeholder="PO Date"value="{{ PODate|date:"Y-m-d" }}" readonly  name="PODate" maxlength="75" required>
    </div>
	 <label for="inputEmail3" class="col-sm-2 control-label">Product Name:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="ProductName" placeholder="Product Name" value="{{ ProductName }}" readonly  name="ProductName" maxlength="30" required>
    </div>
  </div>
  
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Principal ID</label>
	<div class="col-sm-4">
	<input type="text" class="form-control" id="PrinicpalID" placeholder="Principal ID" readonly value="{{ PrinicpalID }}" name="PrinicpalID" maxlength="30" required>
	</div>
	<label for="inputEmail3" class="col-sm-2 control-label">Product Type</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="ProductType" placeholder="Product Type" readonly  value="{{ ProductType }}" name="ProductType" maxlength="75" required>
    </div>
  </div>
  
  
   <div class="form-group">
	<label for="inputEmail3" class="col-sm-2 control-label">Principal Name:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="PrincipalName" placeholder="Principal Name" readonly value="{{ PrincipalName }}" name="PrincipalName" maxlength="30" required>
    </div>
	 <label for="inputEmail3" class="col-sm-2 control-label">PO Quantity:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="POQuantity" placeholder="PO Quantity" readonly value="{{ POQuantity }}" name="POQuantity" maxlength="30" required>
    </div>
  </div>
	

    
  </div>
  </div>
  </div>
  </div>
  </div>
   <div class="container">
   <div class="row">
  <div class="col-md-12">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Custom Clearance<h4>
  </div>
   <div class="panel-body" id="form-color">
   

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">HS Code:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="HsCode" readonly placeholder="Hs Code"  value="{{ HsCode }}" name="HsCode" maxlength="30" required>
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Custom Clearance Status</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="CCStatus" readonly placeholder="Custom Clearance Status" value="{{ CCStatus }}"  name="CCStatus" maxlength="75" required>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
   <div class="container">
   <div class="row">
  <div class="col-md-12">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Receiving Finish Goods/Material<h4>
  </div>
   <div class="panel-body" id="form-color">
   
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Receiving:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="Receiving" readonly  placeholder="Receiving ID"  value="{{ Receiving }}" name="Receiving" maxlength="30" required>
    </div>
  </div>
   {% if ProductSN == 'No'%}
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Receiving Quantity</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="ReceivingQty" placeholder="Receiving Quantity" onchange="myFunction(this.value)"  value="{{ ReceivingQty }}"  name="ReceivingQty" maxlength="75" >&nbsp;<span id="qtyerrmsg"></span>
    </div>
	<label id="lblQuantity" name="lblQuantity"></label>
	 </div>
	{% endif %}
	<label id="lblSNValidate" name="lblSNValidate"></label>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Receiving Status</label>
    <div class="col-sm-4">
      
	   <select class="form-control" id="ReceivingStatus" name="ReceivingStatus" >
		  <option value="">Select Receiving Status</option>
		<option value="Open">Open</option>
						</select>
	<input type="hidden"  value="{{ SerialCount }}" id="serialcount" name="serialcount" />
    </div>
	 <label for="inputEmail3" class="col-sm-2 control-label">WareHouse Name</label>
    <div class="col-sm-4">
     
	  <select class="form-control" id="WareHouseName" name="WareHouseName" >
		  <option value="">Select WareHouse Name</option>
		  {% for entry in WHName %}
		<option value="{{ entry.WarehouseName }}">{{entry.WarehouseName }}</option>
		{% endfor %}
						</select>
    </div>
	</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <h1>----------------------------------------------------------------------------------------</h1>
  
 {% if ProductSN == 'Yes'%}
  
  <div class="col-sm-8">
     <label for="inputEmail3" class="col-sm-2 control-label">Serial Number</label>
	 
	  <div class="col-sm-4">
      <input type="text" class="form-control" id="SerialNumber"  placeholder="Enter SerialNumber"   name="SerialNumber" maxlength="75">
	  
	  <label id="lblSAM" name="lblSAM"></label>
	</div>
	
	<div class="col-sm-4">
	<a class="btn btn-primary"  class="submit" id="myList" >
	                      Add to List</a>
	</div>
	
    </div>
	
  <div class="container">
   <div class="row">
  <div class="col-md-6">
   <table id="mySerialTable" class="table table-striped" style="text-align:center; font-size: 1.1em;font-family: 'Source Sans Pro', sans-serif;color:#333;">
    <thead>
                                    <tr>
										<th class="center">Sno</th>
										<th class="center">Serial Number</th>
										<th class="center">Edit</th>
										<th class="center">Delete</th>
                                        </tr>
                                </thead>
								<tbody>     
									{% for u in obj %}                              
                                    <tr>
									   <td>{{ forloop.counter }} </td>
                                       <td class="center">{{ u.SerialNumber }}</td>
									   <td class="center"> <a href="/accounts/EditSN/{{ u.SerialNumber }}" data-toggle="modal" data-target="#basicSNModal"><i></i>Edit</a></td>
									   <td class="center"> <a href="/accounts/DeleteSN/{{ u.SerialNumber }}" data-toggle="modal" data-target="#basicDeleteSNModal"><i></i>Delete</a></td>
                                    </tr>
									{% endfor %}
									</tbody>

									</table>
									<label id="lblNumber"></label>
									</div>
									</div>
									</div>
									{% endif %}
									<div class="form-group">
    <div class="col-sm-offset-2 col-sm-12">
      <button type="submit" class="submit" class="btn btn-primary" value="Remove Whitespaces"  onclick="return mysaveFunction()">Submit</button>
	  <a href="/accounts/ViewReceiving/"><button class="btn btn-default" type="button">Cancel</button></a> 
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <a class="btn btn-primary"  class="submit" onclick="return mysaveFunction()" id="SaveAndSend" >
	                      Save & Send</a>
    </div>
  </div>
	<script type="text/javascript">
	$('#InputSerialCheck').change(function(){
   $("#SerialNumber").prop("disabled", $(this).is(':checked'));
	});
	</script>
	  
	   <footer class="footer">
      <div class="container">
        <div style="text-align:center;" class="text-muted">&#0169;2008-2015 Biomorf Lone All rights reserved.</div>
				<ul class="footer-nav">
  <li>
                                    		<a href="https://www.facebook.com/biomorf" target="_blank"><img src="{% static "images/facebook.png" %}" alt="facebook" title="Facebook Page"></a>
                                    </li>
                                    <li>
									        <a href="http://www.linkedin.com/company/pt-biomorf-lone-indonesia" target="_blank"><img src="{% static "images/linkedin.png" %}" alt="LinkedIn" title="LinkedIn Page"></a>
                                    </li>
									<li>
									         <a href="https://twitter.com/biomorfindo" target="_blank"><img src="{% static "images/twitter_logo.jpg" %}" alt="Twitter" title="Twitter Page"></a>
                                    		  
                                    </li>
  <li><a href="">Home</a></li>
   <li><a href="">Legal Disclaimer</a></li>
  </ul> 
      </div>
    </footer>
	<!-------------------------------------Modal Start---------------------------------------------->
									<div class="modal fade" id="basicSNModal" tabindex="-1" role="dialog"aria-labelledby="basicModal" aria-hidden"true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Edit SerialNumber</h4>
            </div>
            <div class="modal-body" >
			  
			  
			  <div class="col-sm-8">
     <label for="inputEmail3" class="col-sm-4 control-label">Serial Number</label>
	  <div class="col-sm-8">
      <input type="text" class="form-control" id="SNumber"  placeholder="Enter SerialNumber" value="{{ SerialNumber }}"  name="SerialNumber" maxlength="75">
		<input type="hidden"  value="{{ lblSN }}" id="lblSN" name="lblSN" />
	</div>
	
	
    </div>
	 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-12">
      <a class="btn btn-primary"  class="submit" id="SNSubmit" >
	                      Submit</a>
	   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>
 </div>
	</div>  
	<div class="modal fade" id="basicDeleteSNModal" tabindex="-1" role="dialog"aria-labelledby="basicModal" aria-hidden"true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Delete SerialNumber</h4>
            </div>
            <div class="modal-body" >
			  
			  
			  <div class="col-sm-8">
     <label for="inputEmail3" class="col-sm-12 control-label">Are you sure? Do you really want to Delete SerialNumber</label>
	 <input type="hidden"  value="{{ SNid }}" id="SNid" name="SNid" />
	 <input type="hidden"  value="{{ SN }}" id="SN" name="SN" />
    </div>
	 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-18">
      <a class="btn btn-primary"  class="submit" id="SNDelete" >
	                      Delete</a>
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>
 </div>
	</div> 
	<div class="modal fade" id="basicDeleteCheckSNModal" tabindex="-1" role="dialog"aria-labelledby="basicModal" aria-hidden"true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Delete SerialNumber</h4>
            </div>
            <div class="modal-body" >
			  
			  
			  <div class="col-sm-8">
     <label for="inputEmail3" class="col-sm-12 control-label">“You Have Selected Bulk Quantity, You Have to Remove All Serial Numbers”</label>
	 <input type="hidden"  value="{{ SNid }}" id="SNid" name="SNid" />
	 <input type="hidden"  value="{{ SN }}" id="SN" name="SN" />
    </div>
	 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-18">
      <a class="btn btn-primary"  class="submit" id="SNDeleteCheck" >
	                      Delete</a>
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>
 </div>
	</div> 
 </body>
</html>
{% endblock %}






