<nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
					  <li class="dropdown"> 
						<a href="#" data-toggle="dropdown">Logistic <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Purchase Order</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/ADDPurchaseOrder/' tabindex="-1">Add Purchase Order</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Shipment From Principal</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/ADDSFM/' tabindex="-1">Add Shipment From Principal</a></li>
									<li><a href='/accounts/ViewSFM/' tabindex="-1">View/Edit Shipment From Principal</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
							<a href="#" tabindex="-1" data-toggle="dropdown">Custom Clearance</a>
								<ul class="dropdown-menu">
									<li><a href='/accounts/ADDCustomClearance/' tabindex="-1">Add Custom Clearance</a></li>
									<li><a href='/accounts/ViewCustomClearance/' tabindex="-1">View/Edit Custom Clearance</a></li>
								</ul>
							</li>
						
						</ul>
						</li>
                    </ul>
                   <ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Profile<span class="caret"></span></a>
							<ul class="dropdown-menu"  role="menu" >
								<li><a href='/accounts/changepassword/'><span>Change Password</span></a></li>
								<li><a href="/accounts/logout/">Logout</a></li>
							</ul>
						</li>
					</ul>
                           
		</div>
          </div>
        </nav>
