{% extends "admin.html" %}

{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <head>
 {% include 'base.html' %}
		
 <title>::: BIMS :::</title>
 {% load staticfiles %}
 <link type "text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/Stickyfooter.css' %}">
 <link type="text/css" rel="stylesheet" href="{% static 'css/dropdowns-enhancement.css' %}">
 <script  src="{% static 'js/jquery.min.js' %}"></script>
 <script type "text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
 <script type "text/javascript"  src="{% static 'js/dropdowns-enhancement.js' %}"></script>
 <script type="text/javascript">
       function removeWhitespaces() {
			var txtboxVal = $('#ProID').val().trim();
			$('#ProID').val(txtboxVal);
			var ProductID = $('#ProID').val();
			input = ProductID.replace(/\s/g, '');
			$('#ProID').val(input) ;
			var txtboxVal2 = $('#PrincipalName').val().trim();
			$('#PrincipalName').val(txtboxVal2);			
			var txtboxVal11 = $('#PName').val().trim();						
			$('#PName').val(txtboxVal11);
			var txtboxVal11 = $('#PModel').val().trim();						
			$('#PModel').val(txtboxVal11);
			}
			$(document).ready(function(){
			$('#principalid').on('change', function() {
			var principalid = $(this).val();
			if (principalid == ''){
			document.getElementById('PrncplName').value = "";
			}else{
			$.get('/prdctNametest/'+'?principalid='+principalid, function(ProductName){
			var splitArray = ProductName.split(",");
			$('#PrincipalName').val(splitArray[0]) ;
			});
			/*a=document.getElementById("ProID").value
			b=parseInt(a, 10)
			$('#ProID').val(b); */
			}
		});
		$('#ProID').keyup(function(){
		var yourInput = $(this).val();
		re = /[@,/_.`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi;
		var isSplChar = re.test(yourInput);
		if(isSplChar){
		var no_spl_char = yourInput.replace(/[@,/_.`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi, '');
		$(this).val(no_spl_char);
		}
		});
		$('#PrincipalName').keyup(function(){
		var yourInput = $(this).val();
		re = /[@,/_.`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi;
		var isSplChar = re.test(yourInput);
		if(isSplChar){
		var no_spl_char = yourInput.replace(/[@,/_.`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi, '');
		$(this).val(no_spl_char);
		}
		});
		$('#PName').keyup(function(){
		var yourInput = $(this).val();
		re = /[@,/_.`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi;
		var isSplChar = re.test(yourInput);
		if(isSplChar){
		var no_spl_char = yourInput.replace(/[@,/_.`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi, '');
		$(this).val(no_spl_char);
		}
		});
		$('#PModel').keyup(function(){
		var yourInput = $(this).val();
		re = /[@,/_.`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi;
		var isSplChar = re.test(yourInput);
		if(isSplChar){
		var no_spl_char = yourInput.replace(/[@,/_.`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi, '');
		$(this).val(no_spl_char);
		}
		});
	});
</script>
<script>
function myFunction(val) {
	$('#lblpid').text("");
	$.get('/Productidtest/'+'?val='+val, function(Data){
			if(Data=="ProductID already exists"){
			
			document.getElementById("ProID").value= "";
			$('#lblpid').text("ProductID already exists");
			}
		});
}

</script>
<script type="text/javascript">
$(document).ready(function(){
$(document).on("keydown", function (e) {
    if (e.which === 8 && !$(e.target).is("input, textarea")) {
        e.preventDefault();
    }
});
});
</script>

<script type="text/javascript">
$(document).ready(function() 
{
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>
</head>
<body>
   <div class="container"> <div class="row">
  <div class="col-md-12">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Create a Product<h4>
  </div>
  <div class="panel-body" id="form-color">
    <form class="form-horizontal" name="adduser" method="POST" action="/accounts/Product/" role="form" data-toggle="validator">{% csrf_token %}
 <div class="error">{{ Error }}
                  </div>
            <div class="success">{{ Success }}
                  </div>
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product ID</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="ProID" placeholder="Product ID"   name="ProID" maxlength="10"  onchange="myFunction(this.value)" required>
    </div>
	<label id="lblpid" name="labelid"></label>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Principal ID</label>
    <div class="col-sm-5">
      <!-- <input type="text" class="form-control" id="PriID" placeholder="Principal ID"   name="PriID" maxlength="30" required> -->
	   <select class="form-control" id="principalid" name="PriID" required>
		  <option value="">Select principal ID</option>
		  {% for entry in PID %}
		<option value="{{ entry.ThirdPartyID }}">{{entry.ThirdPartyID }}</label>
		{% endfor %}
		</select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Principal name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="PrincipalName" readonly placeholder="Principal name"   name="PrincipalName" maxlength="30" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product type</label>
    <div class="col-sm-5">
		  <select class="form-control" id="PType" name="PType" required>
							<option value="">Select type</option>			
							<option value="Material">Material</option> 
							<option value="Finish Good">Finish good</option> 
						</select>
    </div>
  </div>
			<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="PName" placeholder="Product name"   name="PName" maxlength="30" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product model</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="PModel" placeholder="Product model"   name="PModel" maxlength="30" required>
    </div>
  </div>
  <!--  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">ProductRequireSN:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="PRequireSN" placeholder="ProductRequireSN"   name="PRequireSN" maxlength="30" required>
    </div>
  </div> -->
  
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product status</label>
    <div class="col-sm-5">
       <select class="form-control" id="PStatus" name="PStatus" required>
							<option value="Active">Active</option>
							<option value="Discontinued">Discontinued</option>							
						</select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Product has serial #?</label>
    <div class="col-sm-5">
       <select class="form-control" id="PSerialNumber" name="PSerialNumber" required>
							<option value="">Select serial number</option>
							<option value="Yes">Yes</option>
							<option value="No">No</option>							
						</select>
    </div>
  </div>
     
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="submit" class="btn btn-primary" class="submit" value="Remove Whitespaces" onclick="removeWhitespaces()">Submit</button>
	  <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </div>
     </form>
  </div>
  </div>
  </div>
  </div>
  </div>

 </body>
</html>
{% endblock %}






