{% extends "admin.html" %}

{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <head>
{% include 'base.html' %}
 <title>::: BIMS :::</title>
 {% load staticfiles %}
 <link type "text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
 <link type "text/css" rel="stylesheet" href="{% static 'css/Stickyfooter.css' %}">
 <link type="text/css" rel="stylesheet" href="{% static 'css/dropdowns-enhancement.css' %}">
 <script src="{% static 'js/jquery.min.js' %}"></script>
 <script type "text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
 <script type "text/javascript"  src="{% static 'js/dropdowns-enhancement.js' %}"></script>
 <script type="text/javascript">
       function removeWhitespaces() {
			var txtboxVal = $('#myWareHouse').val().trim();
			$('#myWareHouse').val(txtboxVal);
			var txtboxVal2 = $('#myWareHouseName').val().trim();
			$('#myWareHouseName').val(txtboxVal2);			
			}
			$(document).ready(function () {
	$('#myWareHouse').keyup(function()
	{
	var yourInput = $(this).val();
		re = /[@,/_.`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi;
		var isSplChar = re.test(yourInput);
		if(isSplChar)
		{
			var no_spl_char = yourInput.replace(/[@,/_.`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi, '');
			$(this).val(no_spl_char);
		}
	});
	$('#myWareHouseName').keyup(function()
	{
	var yourInput = $(this).val();
		re = /[@,/_.`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi;
		var isSplChar = re.test(yourInput);
		if(isSplChar)
		{
			var no_spl_char = yourInput.replace(/[@,/_.`~!#$%^&*()|+\=?;:'"<>\{\}\[\]\\]/gi, '');
			$(this).val(no_spl_char);
		}
	});
   });
	</script>
	<script type="text/javascript">
$(document).ready(function(){
$(document).on("keydown", function (e) {
    if (e.which === 8 && !$(e.target).is("input, textarea")) {
        e.preventDefault();
    }
});
});
</script>

<script type="text/javascript">
$(document).ready(function() 
{
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>
</head>
<body>
   <div class="container"> <div class="row">
  <div class="col-md-12">
  <div class="panel ">
  <div class="panel-heading" id="heading-color" style="padding: 5px 10px 2px;">
  <h4 class="panel-title">Warehouse<h4>
  </div>
  <div class="panel-body" id="form-color">
    <form class="form-horizontal" name="adduser" method="POST" action="/accounts/WareHouse/" role="form" data-toggle="validator">{% csrf_token %}
 <div class="error">{{ Error }}
                  </div>
            <div class="success">{{ Success }}
                  </div>
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Warehouse ID</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="myWareHouse" placeholder="Warehouse ID"   name="wareHouseID" maxlength="30" required>
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Warehouse name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="myWareHouseName" placeholder="Warehouse name"   name="wareHouseName" maxlength="30" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Third party name</label>
    <div class="col-sm-5">
      		  <select class="form-control" id="ThirdPartyName" name="ThirdPartyName" required>
		  <option value="">Select Third party name</option>
		  {% for entry in TPName %}
		<option value="{{ entry.ThirdPartyName }}">{{entry.ThirdPartyName }}</label>
		{% endfor %}
						</select>
    </div>
  </div>
  <div class="form-group">
  <label for="inputPassword3" class="col-sm-2 control-label">Warehouse status</label>
  <div class="col-sm-5">
   <select class="form-control" id="myWareHouseStatus" name="wareHouseStatus" required>
    <option value="Active">Active</option>
    <option value="Discontinued">Discontinued</option>
    </select>
</div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="submit" class="btn btn-primary" class="submit" value="Remove Whitespaces" onclick="removeWhitespaces()">Submit</button>
	  <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </div>
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>

 </body>
</html>
{% endblock %}






